#drop_links {
	display: block;
	color: #fff;
}

@media (min-width: 768px){}
@media (min-width: 768px) and (max-width: 1199px){}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 992px){
	#drop_links {
		display: none;
	}
}
@media (max-width: 991px){}
