# Excluye todos los ficheros con extensión .log
*.log

# Excluye todos los ficheros con extensión .log
*.xml

# Exluir carpetas
administracion/*
/cache/*
cache/*
themes/*/cache/
docs/*
download/*
log/*
pdf/*
tests/*
tools/*
webservices/*
upload/*
themes/default-bootstrap/*
themes/foxlore/*
administracion/autoupgrade/
config/xml/*.xml
config/*.xml
config/*.php
/log/*
*sitemap.xml
modules/*/config*.xml
modules/*.xml
modules/**/blockfacebooklike
modules/**/gamification
administracion/backups/
administracion/export/
administracion/import/
download/
/img/*
upload/

# Excluir GiftList
modules/giftlist/uploads/*
override/classes/Cart.php
override/controllers/front/CartController.php
.project
.buildpath
.settings/*
modules/gamification/*
img/*
cache/class_index.php

# Exluir la fans.tpl
*fans.tpl

# Exluir la notes.tpl
_notes/

# Exluir la html
*.html

# Exluir la htaccess
*.htaccess
modules/blockfacebooklike/views/templates/hook/fans.tpl
