# Excluye todos los ficheros con extensión .log
*.log

# Excluye todos los ficheros con extensión .log
*.xml

# Exluir la cache

/cache
/cache/*
/modules/blockfacebooklike/views/templates/hook/fans.tpl
/themes/matisses/modules/blockfacebooklike/views/templates/hook/fans.tpl
/_notes/
*.html

