# Excluye todos los ficheros con extensión log
*.log

# Excluye todos los ficheros con extensión xml
*.xml

# Exluir la cache
/cache

# Exluir la todo lo de cache
/cache/*

# Exluir la notes.tpl
/_notes/

# Exluir la html
*.html

# Exluir la htaccess
*.htaccess

# Exluir la fans.tpl
*fans.tpl

