    input:focus{
    outline: none;
    resize: none ;
    }
    .module-news-new .center_column,
    .module-news-list .center_column{
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    float: none;
    }

    /*Blog home*/
    .zona-blog{
	padding: 4.0625rem 0;
	}
    .zona-blog .btn-title .button{
	margin-top: 0.3125rem
	}
    .title-destacado{
	background: url('/themes/matisses/img/ticket-destacado.jpg') right 0 no-repeat;
	height: 21.125rem;
    margin-top: 1.25rem;
	}
    .img-article a{
    display: block;
    }
    .category-news span{
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #d7162f;
    font-family: 'condensed';
    }
    .newsTitle h2{
    font-family: 'condensed';
    color: #231f20;
    font-size: 1.75rem;
    }
    .date-author span,
    .date-author p {
    display:inline-block;
    color:#acacac;
    font-family: 'condensed';
    font-size: 1rem;
    }

    /*Columna izquierda*/
    .img-article img {
    width: 100%;
    }
    .newsLeft .info-article {
    padding: 15px 0;
    }
    .newsLeft  .category-news {
    margin-bottom: 0.9375rem;
    }
    .newsLeft .date-author {
    margin: 0.625rem 0 0.9375rem;
    }

    /*Columna derecha*/
    .newsRight .newsHomeContent{
    padding: 1.875rem;
    }
    .newsRight .first {
    background: #f2f2f2;
    margin-top: 1.25rem;
    }
    .newsRight img{
    width: 100%;
    }
    .info-article {
    padding: 1.25rem 0.9375rem;
    }
    .right-article .category-news {
    padding: 0.3125rem 0;
    }
    .right-article .date-author {
    margin: 0.625rem 0;
    }

    /**********/
    .newsListTop{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    }
    .newsSideLink{
    display: block;
    height: 85px;
    overflow: hidden;
    cursor: pointer;
    background-color: #000;
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color:#FCF5ED;
    }
    a.newsSideLink .newsSideTitleActive,
    a.newsSideLink:link .newsSideTitleActive,
    a.newsSideLink:active .newsSideTitleActive,
    a.newsSideLink:visited .newsSideTitleActive
    {
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color: #FFF;
    }
    a.newsSideLink:hover .newsSideTitleActive{
    text-decoration: none;
    }

    a.newsSideLinkNoImg .newsSideTitleActive,
    a.newsSideLinkNoImg:link .newsSideTitleActive,
    a.newsSideLinkNoImg:active .newsSideTitleActive,
    a.newsSideLinkNoImg:visited .newsSideTitleActive
    {
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    }

    .newsSideLinkNoImg{
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    }

    .newsSideLinkNoImg .newsSideTitleActive{
    display: inline-block;
    width: 100%;
    text-align: left;
    }

    .newsSideLinkNoImg .newsSideTitleHover{
    display: none;
    }

    .newsSideLink .newsSideTitleActive{
    display: block;
    width: 100%;
    margin-top: 50px;
    height: 30px;
    background: #000;
    opacity:0.50;
    filter:alpha(opacity=50);
    color: #FFF;
    padding: 5px 5px 0 5px;
    }

    .newsSideLink .newsRmOpacity{
    opacity:0.8;
    filter:alpha(opacity=80);
    }

    a.newsSideMore,
    a.newsSideMore:link,
    a.newsSideMore:active,
    a.newsSideMore:visited
    {
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    display: inline-block;
    width: 175px;
    padding: 10px 0 10px 5px;
    font-weight: bold;
    }
    a.newsSideMore:hover{
    text-decoration: none;
    }
    a.newsHomeMore,
    a.newsHomeMore:link,
    a.newsHomeMore:active,
    a.newsHomeMore:visited{
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 0px 20px 0px 0px;
    text-decoration: none;
    }

    a.newsListItem,
    a.newsListItem:link,
    a.newsListItem:active,
    a.newsListItem:visited{
    display: block;
    }

    a.newsListItem:hover{
    background: #fff url(../img/bg_hover_list.png) left bottom repeat-x;
    }

    a.page_more,
    a.page_more:link,
    a.page_more:active,
    a.page_more:visited{
    display: block;
    cursor: pointer;
    padding: 15px 0 15px 0;
    margin: 20px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #B3B3B3 2px 2px 2px;
    -moz-box-shadow: #B3B3B3 2px 2px 2px;
    box-shadow: #B3B3B3 2px 2px 2px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    background: #f7f7f7;
    text-align: center;
    color: #222;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    }

    a.page_more:hover{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #B3B3B3 2px 2px 2px;
    -moz-box-shadow: #B3B3B3 2px 2px 2px;
    box-shadow: #B3B3B3 2px 2px 2px;
    border: 1px solid #c6c6c6;
    color: #000;
    background: #fff url(../img/bg_hover_list.png)  bottom left repeat-x;
    }

    .newsMoreBtn{
    display: inline-block;
    float: right;
    }

    .newsInfBottom{
    display: inline-block;
    float: left;
    margin-top: 7px;
    padding: 0 25px 0 0;
    height: 15px;
    line-height: 15px;
    font-family: verdana;
    font-size: 10px;
    }

    .fromNewsSearch{
    overflow: hidden;
    position: relative;
    }

    .loadingAjax{
    display: block;
    height: 80px;
    background: transparent url(../img/loading.gif) top center no-repeat;
    }
    .newsAjaxContent{
    display: inline-block;
    width: 100%;
    }

    /* Paginador */
    .latest-articles .newsPagination {
    margin: 0.625rem 0 3.125rem;
    }
    .newsPager .newsPagination {
    text-align: center;
    width: 100%;
    }
    .newsPagination li {
    display: inline-block;
    padding: 0;
    margin: 0;
    }
    .newsPagination li a,
    .newsPagination li span {
    color: #d7162f;
    display: block;
    font-family: 'condensed';
    font-weight: normal;
    font-size: 1.375rem;
    padding: 0.625rem 0.75rem;
    background: #f2f2f2;
    transition: all 0.2s ease-in-out;
    }
    .newsPagination li a:hover{
    color: #d7162f;
    background: #e5e4e4;
    }
    #newsPagination_previous a,
    #newsPagination_next a{
    background: #d7162f;
    color: #fff;
    }

    #newsPagination_previous a:hover,
    #newsPagination_next a:hover{
    background: #c81129;
    }
    .newsPagination .current span {
    color: #666;
    }
    .newsPagination .fa-angle-double-right {
    line-height: normal;
    font-size: 1.3125rem;
    }

    ul.newsPagination li.truncate {
    padding: 0.3em;
    background: none
    }
    #newsPagination_next a,
    #newsPagination_next span { border-right: none }
    li.disabled span {
    color: #888;
    background-color: #f1f2f4
    }


/*****/
    a.newsMenuHover_3:hover,
    a.newsMenuHover_3_selected{
    color: yellow;
    }

    a.newsMenuHover_4:hover,
    a.newsMenuHover_4_selected{
    color: violet;
    }

    a.newsMenuHover_5:hover,
    a.newsMenuHover_5_selected{
    color: orangered;
    }

    a.newsMenuHover_6:hover,
    a.newsMenuHover_6_selected{
    color:  brown;
    }

    a.newsMenuHover_7:hover,
    a.newsMenuHover_7_selected{
    color:  black;
    }

    a.newsMenuHover_8:hover,
    a.newsMenuHover_8_selected{
    color:blue;
    }

    a.newsMenuHover_9:hover,
    a.newsMenuHover_9_selected{
    color: #989FA9;
    }
    a.newsMenuHover_10:hover,
    a.newsMenuHover_10_selected{
    color: mediumspringgreen;
    }
    a.newsMenuHover_11:hover,
    a.newsMenuHover_10_selected{
    color: #77d5f7;
    }
    a.newsRss,
    a.newsRss:link,
    a.newsRss:active,
    a.newsRss:visited{
    display: inline-block;
    float: right;
    cursor: pointer;
    width: 31px;
    height: 11px;
    background: transparent url('../img/rss.png') no-repeat center center;
    opacity:0.70;
    filter:alpha(opacity=70);
    }


    /* Block CMS links */
    .news_block_sides li {border-bottom:1px dotted #eee}
    .news_block_sides li.last {border:none;}
    .news_block_sides li a {
    display:block;
    padding:7px 11px 5px 22px;
    color:#333;
    background:url(../img/arrow_right_2.png) no-repeat 10px 10px transparent;
    }

    /*Listado de artículos*/
    .content-destacados {
    margin: 2.5rem 0;
    }
    .blog-list h3 {
    color: #777676;
    font-size: 2.125rem;
    padding: 0.625rem 1.25rem;
    background: #f2f2f2;
    }
    .newsListImg img {
    width: 100%;
    }
    .newsListTitle h2{
    font-family: 'condensed';
    color: #231f20;
    font-size: 1.5625rem;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 0.3125rem;
    text-transform: uppercase;
    }
    .new-author p{
    font-weight: bold;
    color: #a7a6a6;
    margin: 0.3125rem 0 0.125rem;
    }
    .news-date span{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #666;
    background: #F6F6F6;
    display: block;
    padding: 0.3125rem 0.9375rem;
    margin: 0.625rem 0;
    }
    .news_block_list {
    margin: 1.875rem 0;
    }
    .left-news {
    border-right: 1px solid #eaeaea;
    }
    .left-news .news_block_list ul li {
    margin-bottom: 1.5625rem;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.5625rem;
    }
    .left-news .news_block_list ul li:last-child{
    border-bottom: none;
    margin-bottom: 0;
    }
    .left-news ul li:last-child{
    border-bottom: none;
    }
    .newsSearch {
    background: #f2f2f2;
    border: none;
    color: #777676;
    display: inline-block;
    width: 100%;
    font-size: 1.125rem;
    font-family: 'condensed';
    height: 3.4375rem;
    padding: 0.3125rem 0.9375rem;
    }
    .search-news {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    }
    .search-news input[type="submit"] {
    background: url('/themes/matisses/img/search-news.png') 0 0 no-repeat rgba(0, 0, 0, 0);
    width: 1.5625rem;
    height: 1.5625rem;
    border: none;
    text-indent: -99em;
    position: absolute;
    top: 0.75rem;
    right: 0.625rem;
    padding: 0;
    }
    .category-filter {
    margin-top: 1.5625rem;
    }
    .category-filter h4{
    font-family: 'condensed';
    font-size: 1.375rem;
    color: #d7162f;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    }
    .category-filter ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9375rem;
    color: #231f20;
    display: block;
    padding: 0.3125rem 0 0.625rem;
    font-weight: bold;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0.625rem;
    }
    .category-filter ul li a:hover{
    color: #d7162f;
    }

    /*tabs news*/
    .commented-popular{
    margin-top: 3.75rem;
    }
    .news-tabs > ul{
    border-bottom: 1px solid #ebebeb;
    padding: 0 10px
    }
    .news-tabs .content-tabs {
    padding: 0.625rem 0 0;
    }
    .news-tabs ul > li {
    display: inline-block;
    }
    .news-tabs .content-tabs li {
    margin: 0.9375rem 0;
    }
    .news-tabs li a {
    background: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-bottom: none;
    padding: 0.75rem 1.25rem;
    font-family: 'condensed';
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #757575;
    display: block;
    }
    .news-tabs li a:hover{
    background: #fff;
    }
    .news-tabs .newsTitle h2 {
    font-size: 1.25rem;
    padding-top: 0.3125rem;
    }

    /*Detalle noticias*/
    .newSlideshow img{
    width: auto;
    height: auto;
    }
    div.newImgsContent {
    margin-bottom: 1.5625rem;
    }
    .newTitle h1{
    font-size: 1.5625rem;
    border-bottom: 2px solid #ED143D;
    padding-bottom: 0.3125rem;
    }
    .news-date span{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #666;
    background: #F6F6F6;
    display: block;
    padding: 0.3125rem 0.9375rem;
    margin: 0.625rem 0;
    }
    div.newContentTopRigthSocial{
    margin-top: 1.25rem;
    }
    .newContentTopRigthSocial div {
    display: inline-block;
    vertical-align: top;
    }

    /*Listado categorías*/
    .module-news-catg .center_column{
    width: 75rem;
    padding: 0 0.9375rem;
    margin: 0 auto;
    float: none;
    }
