	/* CSS Document */
	#image-images-thumbnails .img-thumbnail {
	padding: 0px;
	cursor: crosshair;
	}
	#experiences-points {
	width: 500px;
	}
	#experiences-points .form-group {
	width: 100%;
	display: table;
	}
	.experience-pointer{
	position:absolute;
	width: 50px;
	height: 33px;
	cursor:pointer;
	background-position: top;
	background-size:100%;
	background-repeat:no-repeat;
	}
	div.black-left {
	background-image:url(../../img/experience-black-left.png);
	}
	div.black-right {
	background-image:url(../../img/experience-black.png);
	}
	div.white-left {
	background-image:url(../../img/experience-white-left.png);
	}
	div.white-right {
	background-image:url(../../img/experience-white.png);
	}
	.fancybox-inner{
	overflow:hidden !important;
	}

/**/
	
