/* CSS Document */
#image-images-thumbnails .img-thumbnail {
	padding: 0px;
	cursor: crosshair;
}
#experiences-points {
	width: 500px;
}
#experiences-points .form-group {
	width: 100%;
	display: table;
}

.experience-pointer{
	position:absolute;
	width: 50px;
	height: 33px;
	cursor:pointer;
	background-position: top;
	background-size:100%;
	background-repeat:no-repeat;
}

div.white{
	background-image:url(../../img/experience-white.png);
}

div.black{
	background-image:url(../../img/experience-black.png);
}

.fancybox-inner{
	overflow:hidden !important;
}