/* CSS Document */

	.module-matisses-experiences .pointer{
	position:absolute;
	width: 50px;
	height: 33px;
	cursor:pointer;
	background-position: top;
	background-size:100%;
	background-repeat:no-repeat;
	}
	.module-matisses-experiences .pointer:hover > .pointer-detail{
	display:block;
	}
	.module-matisses-experiences div.black-left {
	background-image:url(../../img/experience-black-left.png);
	}
	.module-matisses-experiences div.black-right {
	background-image:url(../../img/experience-black.png);
	}
	.module-matisses-experiences div.white-left {
	background-image:url(../../img/experience-white-left.png);
	}
	.module-matisses-experiences div.white-right {
	background-image:url(../../img/experience-white.png);
	}

/*Experiences Mask*/
	.experiences-list li a img {
	width: 100%;
	}
	.block-img-exp{
	position: relative;
	display: table;
	padding:0px;
	margin-bottom: 3.125rem;
	overflow: hidden;
	}
	.module-matisses-experiences .pointer > .pointer-detail{
	display:none;
	background:#FFF;
	padding: 0.9375rem 0.3125rem;
	width:25rem;
	margin: 10px 0 0 30px;
	}
	.mask-exp{
	opacity: 0;
	background: rgba(55, 54, 54, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	cursor: pointer;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	}

	.experience-page h2,
	.experience-page h3,
	.experience-page h4,
	.experience-page h5	{
	font-family: 'condensed';
	text-transform: uppercase;
	}
	.experience-page h2{
	color: #d7162f;
	font-size: 38px;
	}
	.experience-page h3{
	color:#231f20;
	font-size: 1.875rem;
	margin-bottom: 20px;
	}
	.experience-page h4 {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 0.3125rem;
    font-size: 1.5rem;
	margin-bottom: 0;
	color: #d7162f;
	}
	.experience-page h5{
	font-size: 1.125rem;
	color: #fff;
	background-color: #d7162f;
	position: absolute;
	bottom: 0;
	padding: 0.625rem 0.9375rem;
	display: none;
	}

	.experience-page li.current h5{
	display: block;
	}
	.experience-page li:hover h5 {
    display: block;
	}

	.pointer-detail .price {
    font-family: 'gothic';
    color: #231f20;
    font-size: 1.5625rem;
	margin-bottom: 0.3125rem;
	}
	.experience-page .socialsharing_product {
    margin: 0;
    text-align: right;
	}
	.exp-header {
    margin-bottom: 1.25rem;
	}
	.block-img-exp img {
	width: 100%;
	}

	/*Posiciones*/
	.white-right,
	.white-left{
	z-index: 10;
	}

	.white-right .pointer-detail,
	.white-right .pointer-detail {
	right: 0;
	position: absolute;
	top: -5px;
	}

	/*Slider*/
	.exp-slide {
    margin: 3.75rem 0;
	}
	.experiences-list li{
	margin-left: 10px;
	}
	.link-img {
    float: left;
    height: 8.625rem;
    margin: 0;
    overflow: hidden;
    width: 24.375rem;
	}
	.link-img img{
	position: relative;
	filter: url('#grayscale');
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: Gray();
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}

	.link-img img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}

	/*activo*/
	.experiences-list .current img{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}

	/*Control slider*/
	.left-exp,
	.right-exp{
	background: #fff;
    width: 3.125rem;
    height: 100%;
    position: absolute;
    top: 0;
	}
	.left-exp {
	left: -50px;
	}
	.right-exp{
	right: -50px;
	}
	.exp-slide .bx-controls-direction div a{
	height: 2.1875rem;
	width: 1.5625rem;
	}

	/*Prev*/
	.exp-slide .bx-controls-direction a.bx-prev{
	background-position: 0 -68px;
	}
	.exp-slide .bx-controls-direction a.bx-prev:hover{
	background-position: 0 -104px;
	}
	/*Next*/
	.exp-slide .bx-controls-direction a.bx-next{
	background-position: -31px -68px;
	}
	.exp-slide .bx-controls-direction a.bx-next:hover{
	background-position: -31px -103px;
	}

	.pointerAdded{
    font-size: 0;
    width: 50px;
    height: 33px;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
	}
	.pointerAdded.black-left {
	background-image:url(../../img/experience-black-left.png);
	left: 350px;
	top: -5px;
	}
	.pointerAdded.black-right {
	background-image:url(../../img/experience-black.png);
	left: 0;
	}
	.pointerAdded.white-left {
	background-image:url(../../img/experience-white-left.png);
	left: 0;
	}
	.pointerAdded.white-right {
	background-image:url(../../img/experience-white.png);
	left: 350px;
	top: -5px;
	}

	.experience-page #directionslider{
	display: none;
	}
