/*	Authentication Styles */
    #account-creation_form .id_state,
    #account-creation_form .dni,
    #account-creation_form .postcode {
    display: none; }
    .account_creation{padding-top: 1.875rem;  }

    #create-account_form .form-group {
    margin: 0 0 20px 0; }

    #login_form .form-group {
    margin: 0 0 3px 0; }
    #login_form .form-group.lost_password {
    margin: 14px 0 15px 0; }
    #login_form .form-group.lost_password a {
    text-decoration: underline; }
    #create-account_form,#login_form{ }
    #id_country_chosen {
    display: block;
    }

    /**/
    .account-creation_form h4{
    font-family: 'condensed';
    font-size: 1.125rem;
    color:#231f20;
    border-bottom: 1px solid #dbdbdb;
    padding:0.625rem 0.9375rem 0.3125rem 0.9375rem;
    text-transform: uppercase;
    }
    .create-account input {
    border-radius: 0;
    background-color: #f8f8f8;
    border-color: #dbdbdb;
	font-family: 'gothic';
	color: #4b4b4b;
	font-size: 1.125rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.9375rem;
    }
    .create-account .lost_password {
    text-align: right;
    color: #7b7b7b;
    font-family: 'gothic';
    }
    .create-account .lost_password a:hover{
    text-decoration: underline;
    }
    .create-account button.button {
    font-size: 1.125rem;
    font-family: 'condensed';
    padding: 0.3125rem 1.875rem;
    float: right;
    }
    .create-account p {
    margin-bottom: 1.25rem;
    }
    .lnk a.btn{
    float: right;
    padding: 0 1.25rem;
    font-family: 'gothic';
    }
    .account_creation .form-group input {
    background: #f8f8f8;
    border-color: #dbdbdb;
    font-family: 'gothic';
    font-size: 1rem;
    color: #757373;
    }
    .account_creation .form-group > label {
    color: #4b4b4b;
    font-family: 'condensed';
    font-size: 1rem;
    display: block;
    text-transform: uppercase;
    padding-bottom: 0.625rem;
    padding-left: 0.3125rem;
    }
    .account_creation .checkbox{
    margin-bottom: 0.625rem;
    }
    .account_creation .checkbox label{
    font-family: 'gothic';
    color: #4b4b4b;
    font-size: 1.0625rem;
    padding-left: 1.5625rem;
    text-transform: none;
    line-height: normal;
    }
    .account_creation .checkbox label a{
    text-decoration: underline;
    }
    .account_creation .submit{
    margin-top: 1.875rem;
    }
    .account_creation button{
    font-family: 'gothic';
    }
    .account_creation .required sup {
    color: #d7162f;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 0;
    }
    #account-creation_form .account_creation .form-group {
    margin-bottom: 30px;
    }
    .account_creation .form-group select{
    font-family: 'gothic';
    color: #4b4b4b;
    font-size: 1.0625rem;
    background: #f8f8f8;
    border-color: #dbdbdb;
    }
    #submitAccount {
    padding: 0.3125rem 1.875rem;
    font-family: 'condensed';
    }
    .account_creation .top {
    font-family: 'gothic';
    font-size: 1.125rem;
    color:#4b4b4b;
    text-transform: capitalize;
    }
    .account_creation div.checker span{
    border-width: 3px;
    border-color: #7b7b7b;
    width: 1.25rem;
    height: 1.25rem;
    }
    .checker .checked:before {
    color: #d7162f;
    }
    .account-creation_form .submit {
    margin: 3.75rem 0 1.25rem;
    }
    .create-account .pull-right.required span{color: #d7162f;}
    .create_account div.radio span {
    border-color: #d7162f;
    border-width: 3px;
    width: 18px;
    height: 18px;
    }
    .create-account div.radio span.checked:before{
    color: #4b4b4b;
    }
    .account_creation div.radio span{
    border: 3px solid #d7162f;
    width: 0.9375rem;
    height: 0.9375rem;
    }
    .account_creation div.radio span.checked:before{
    width: 9px;
    height: 9px;
    background: #d7162f;
    }
    /*Plugin Facebook*/
    .header-facebook {
    position: relative;
    }
    .icon-facebook {
    background: url("../img/icon-facebook.png") 0 0 no-repeat;
    height:4.4375rem;
    width: 4.25rem;
    position: absolute;
    top: -0.9375rem;
    left: 0.9375rem;
    }
    .title-facebook {
    margin-bottom: 1.5625rem;
    display: block;
    background: #3b549d;
    }

    .facebook-login h2 {
    font-family: 'condensed';
    color: #fff;
    font-size: 1.375rem;
    padding:0.625rem 0 0.625rem 6.25rem;
    text-transform: uppercase;
    }
    .content-facebook {
    margin-bottom: 1.25rem;
    }
    .btn-facebook a {
    background: #3b549d;
    font-family: 'condensed';
    font-size: 1.125rem;
    color: #fff;
    padding: 0.625rem 1.25rem;
    display: block;
    min-width: 8.75rem;
    float: right;
    text-align: center;
    text-transform: uppercase;
    }
    .btn-facebook a:hover{
    background-color: #263D81;
    }
    .fa-facebook:before {
    content: "\f09a";
    color: #fff;
    font-size: 1.25rem;
    padding-right: 0.625rem;
    }

@media (max-width: 480px){
    .id_state div.selector,#authentication div.selector,#authentication div.selector select{
    width: 100% !important;
    }
    div.submit{
    text-align: center;
    }
    div.submit button{
    width: 100%;
    }
}
