    /*CMS Pages Styles*/

    .cms .center_column{
	margin-bottom: 4.375rem;
	}
    .cms figure {
    position: relative;
    }
    .cms figcaption {
    position: absolute;
    display: block;
    bottom: 5.9375rem;
    }
    .cms figcaption span{
    color: #FFF;
    font-family: 'gothic';
    font-size: 2.5rem;
    text-align: center;
    display: block;
    max-width: 70%;
    margin: 0 auto;
    }
    .cms .main-content {
    margin-top: -3.75rem;
    z-index: 10;
    display: block;
    position: relative;
    padding: 0 1.875rem;
    }
    .generic-left {
    background: #FFF;
    padding: 3.75rem 2.1875rem;
    }
    .generic-left p {
    padding-bottom: 1.25rem;
    }
    .generic-right{
    padding-top: 3.5625rem;
    }
    .generic-right span {
    background: #f2f2f2;
    display: block;
    color: #272727;
    font-size: 1rem;
    font-family: 'condensed';
    text-transform: uppercase;
    padding: 3.125rem 3.125rem 40px 3.125rem;
    line-height: 1.5;
    }
    .generic-right .img-gen{
    background: #f2f2f2;
    padding: 0 1.5625rem 1.5625rem;
    }
    .generic-right .img-gen img {
    width: 100%;
    }
