    .addresses-lists {
    margin: 1.875rem 0;
    }
    .myaccount-link-list li {
    overflow: hidden;
    padding-bottom: 10px; }

    .myaccount-link-list li a {
    display: block;
    border: 1px solid #dbdbdb;
    background-color: #e1e1e1;
    font-family: condensed;
    font-size: 20px;
    color: #231f20;
    padding: 15px;
    text-transform: uppercase;
    }
    .myaccount-link-list li a, .myaccount-link-list li span{
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    }
/***/

/*Pag Mi cuenta*/
    .my-account-list ul li {
    margin: 0 0 1.25rem;
    }
    .header-account h2 {
    background: #e1e1e1;
    display: block;
    clear: both;
    padding: 0.9375rem 1.25rem;
    font-family: 'condensed';
    text-transform: uppercase;
    font-size: 1.25rem;
    }
    .content-account {
    padding: 2.5rem 0;
    border: 1px solid #dbdbdb;
    border-top: none;
    }
    .content-account img {
    margin: 0 auto;
    display: block;
    }
    .content-account h3{
    font-size: 1rem;
    color: #231f20;
    text-transform: uppercase;
    margin-bottom: 0.3125rem;
    }
    .content-account p{
    color:#777676;
    font-size: 0.9375rem;
    }
    .dates-account a{
    text-decoration: underline;
    }
    .footer-account {
    margin-top: 1.5625rem;
    }
    .footer-account a{
    text-decoration: none;
    }
    .footer-account .btn {
    padding: 0.3125rem 1.5625rem;
    }
    .footer-account input[type="text"] {
    height: 2.375rem;
    display: inline-block;
    vertical-align: top;
    padding: 0.3125rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    color: #777676;
    }
