.print_prod{
	font-size: 12px;
	float: right;
	}
.print_prod i{
	padding-right: 5px;
	vertical-align: 0.1em;
	}
.product-heading-h5 {
	font-weight: 200;
	margin: 3px 0 8px;
	font-size: 19px;
	}

#more_info_block{
	margin-top: 66px;
	}
#more_info_tabs li{
	float: left;
	}
#more_info_tabs li a {
	display: block;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'MuseoSansCyrl700','Open Sans';
	line-height: 40px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	border-bottom-width: 0;
	position: relative;
	padding: 0 40px;
	}
#more_info_tabs li a.selected:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	}
#more_info_sheets{
	border-style: solid;
	border-width: 1px;
	padding: 25px 25px 25px 1.25rem;
	}
#more_info_tabs{
	padding-left: 50px;
	}
#idTab2{
	line-height: 2;
	}
#idTab1{
	font-size: 12px;
	line-height: 1.5;
	}
#idTab1 p{
	margin-bottom: 22px;
	}
#idTab1 p:last-child{
	margin-bottom: 0;
	}
.name_bullet{
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'MuseoSansCyrl700','Open Sans';
	}
.primary_block .pb-left-column img{
	display: block;
	max-width: 100%;
	height: auto;
	}
a.fancybox-nav {
	outline:0
	}

/* .pb-left-column */
.pb-left-column #image-block {
	position: relative;
	text-align: center;
	}
.wrap_image_block{
	position: relative;
	display: block;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	}
.pb-left-column .wrap_scale{
	display: block;
	}
.pb-left-column #image-block img {
	width: 100%;
	}
.wrap_condition_prod{
	position: absolute;
	top: 6px;
	left: 6px;
	}
.pb-left-column #image-block #view_full_size .span_link {
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	position: absolute;
	bottom: 6px;
	right: 6px;
	font-size: 1rem;
	cursor: pointer;
	}
#view_full_size {
	display: inline-block;
	cursor: pointer;
	}
.pb-left-column #image-block #view_full_size .span_link:after {
	font-family: "FontAwesome";
	content: "\f002";
	font-weight: 300;
	}
.pb-left-column #image-block a.jqzoom div div img {
	width: auto;
	max-width: 10000px;
}
  .pb-left-column #image-block a.jqzoom div div .zoomWrapper {
	border: none; }
  .pb-left-column #image-block .zoomPad {
	z-index: auto !important; }
  .pb-left-column #image-block .new-box,
  .pb-left-column #image-block .sale-box {
	z-index: 5002; }

/* miniatures */
.pb-left-column #views_block {
	padding: 0 25px;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0;
	position: relative;
	height: 6.25rem;
}
#thumbs_list {
	overflow: hidden;
	float: left;
	display: inline-block;
	width: 100%;
	padding: 0;
}
#thumbs_list ul#thumbs_list_frame {
	list-style-type: none;
	padding-left: 0;
	overflow: hidden;
}
#thumbs_list li {
	float: left;
	cursor: pointer;
	padding: 0.625rem 0.125rem;
	margin-right: 0.125rem;

}
#thumbs_list li:hover{
	background-color: #e9e9e9;
}


#thumbs_list li a{
	display: block;
	text-align: center;
}
#thumbs_list li img {
	display: inline-block;
}
#view_scroll_left,
#view_scroll_right {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 25px;
	text-align: center;
	background-color: transparent;
}
#view_scroll_left{
	border-right-style: solid;
	border-right-width: 1px;
}
#view_scroll_left:before,#view_scroll_right:before {
	font-family: "fontello";
	content: '\e802';
	height: 1rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto 0;
}
#view_scroll_right:before {
	content: '\e801';
}
#view_scroll_right {
	left: auto;
	right: 0;
	border-left-style: solid;
	border-left-width: 1px;
}
.resetimg {
  padding: 0.625rem 0 0;
  display: none; }
  .resetimg #resetImages i {
	margin-right: 6px; }

.view_scroll_spacer {
  margin-top: 38px; }

#usefull_link_block {
  list-style-type: none; }

#product .wrap_buttons>.row{
	margin: 0 -7px;
}
.elem_butt {
	float: left;
	width: 33.3333%;
	border: 1px solid #dbdbdb;
	margin: 1.25rem 0.9375rem 0 0;
	background: #f8f8f8;
}
.elem_butt a{
	text-align: center;
	padding: 0.625rem 5px;
	color: #F00;
	display: block;
}
.elem_butt a:hover {
    background: #E3E0E0;
}

.elem_butt a span{
	font-family: 'gothic';
}

.elem_butt #wishlist_button:before {
    font-size: 0.8125rem;
    padding-right: 0.125rem;
}

#usefull_link_block li a:before {
	font-family: "FontAwesome";
	font-size: 14px;
	font-weight: normal;
}

#usefull_link_block li.print a:before {
	content: "\f02f";
}
#usefull_link_block li.sendtofriend a:before {
	content: "\f003";
}
#usefull_link_block li#left_share_fb {
	clear: both;
	float: none;
}
#usefull_link_block li#left_share_fb a {
	padding-left: 18px;
}
#usefull_link_block li#left_share_fb a:before {
	content: "\f09a";
}
#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
	cursor: pointer;
	font-weight: 700;
	clear: both;
	float: none;
	margin: 0 0 8px 0;
	border: none;
	padding: 0;
	position: relative;
}
#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
	font-family: "FontAwesome";
	color: #333333;
	font-size: 19px;
	line-height: 24px;
	position: absolute;
	top: -2px;
	left: 0;
	font-weight: normal;
	content: "\f08a";
}
#usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
	color: #000;
}
#usefull_link_block li#favoriteproducts_block_extra_removed:before {
	content: "\f004";
}
/* pb-center-column*/
.pb-center-column {
	float: right;
}
#product p#loyalty {
	padding: 17px 0 0.9375rem 35px;
	margin: 0.625rem 0 0;
	position: relative;
}
#product p#loyalty b {
	color: #333333;
}
#product p#loyalty:before {
	content: "\f024";
	font-family: "FontAwesome";
	color: #cfcccc;
	font-size: 26px;
	line-height: 28px;
	position: absolute;
	top: 1rem;
	left: 0;
}
.accessories-block {
	position: relative;
	padding-top: 95px;
}

#page .rte {
	padding: 0 1.25rem 1.25rem;
	word-wrap: break-word;
}
.attribute_fieldset .chosen-container{
	width: 100% !important;
	}
#attributes fieldset {
	padding:0 0.9375rem 0 0;
	float: left;
	width: 50%;
	}

#attributes .attribute_list {
	width: 100%;
	}
#attributes .attribute_list .form-control {
	max-width: 230px;
	}
#attributes .attribute_list .form-control option {
	background: white;
	color: #666666;
	}

#attributes .attribute_list input.attribute_radio {
	float: left;
	margin-left: 3px;
}
#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
	float: none;
	display: inline-block;
}
#attributes .attribute_list #color_to_pick_list li {
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
	}
#attributes .attribute_list #color_to_pick_list li a.color_pick {
	display: block;
	height: 40px;
	width: 40px;
	cursor: pointer;
}
#attributes .attribute_list #color_to_pick_list li a.color_pick img {
	display: block;
	max-width: 100%;
}

#short_description_content a.btn,
.page-product-box a.btn {
	text-decoration: none;
}

#center_column.col-sm-9 .col-md-3 .box-info-product {
  background: #f6f6f6;
  border: 1px solid #d2d0d0;
  border-top: 1px solid #b0afaf;
  border-bottom: 1px solid #b0afaf;
}
#center_column.col-sm-9 .col-md-3 .box-info-product p {
	margin-bottom: 7px;
	padding: 0.9375rem 0.625rem 0;
}
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
	padding: 0;
	border-top: 1px solid #0079b6;
	border-right: 1px solid #006fa8;
	border-left: 1px solid #006fa8;
	border-bottom: 1px solid #012740;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	display: block;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
	background-image: -webkit-linear-gradient(#009ad0, #007ab7);
	background-image: -moz-linear-gradient(#009ad0, #007ab7);
	background-image: -o-linear-gradient(#009ad0, #007ab7);
	background-image: linear-gradient(#009ad0, #007ab7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 );
}
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
	font-family: "FontAwesome";
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	color: white;
	font-size: 25px;
	line-height: 47px;
	text-shadow: 0 1px #015883;
	content: "\f07a";
	z-index: 2;
	width: 51px;
	text-align: center;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	}
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before {
	content: "\f00c";
	}
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before, #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before {
	height:51px;
	content: "\f110";
	animation: 2s linear 0s normal none infinite spin;
	-webkit-animation: 2s linear 0s normal none infinite spin;
	-moz-animation: 2s linear 0s normal none infinite spin;
	border: none;
	}
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
	background: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 51px;
	content: "";
	width: 1px;
	z-index: 2;
	}
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	border: none;
	border-top: 1px solid #006fa8;
	text-shadow: 0 1px #015883;
	padding: 12px 1rem 14px;
	color: white;
	display: block !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	}
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
	background-image: -webkit-linear-gradient(#007ab7, #009ad0);
	background-image: -moz-linear-gradient(#007ab7, #009ad0);
	background-image: -o-linear-gradient(#007ab7, #009ad0);
	background-image: linear-gradient(#007ab7, #009ad0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
	background-position: 0 0;
	}

#short_description_block {
	padding-top: 0.625rem;
	border-bottom: 1px solid #ccc;
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	}
.pb-right-column #short_description_block .buttons_bottom_block {
	display: none;
	}
.pb-right-column #short_description_block #short_description_content {
	padding: 0;
	}
.pb-right-column .tag {
	position: static;
	display: inline-block;
	}
/* table_data_sheet */
	.table-data-sheet {
	border-bottom: 1px solid #d6d4d4;
	width: 100%;
	margin: 0 0 1.25rem;
	background: white; }
	.table-data-sheet tr {
	border-top: 1px solid #d6d4d4; }
	.table-data-sheet tr.even {
	background: #fdfdfd; }
	.table-data-sheet tr td {
	padding: 0.625rem 1.25rem 11px; }
	.table-data-sheet tr td:first-child {
	border-right: 1px solid #d6d4d4;
	width: 30%;
	font-weight: 700;
	color: #333333; }

/* table product-discounts */
	table.table-product-discounts {
	border: none;
	border-bottom: 1px solid #d6d4d4;
	border-right: 1px solid #d6d4d4;
	width: 50%;
	margin: 0 0 1.25rem;
	background: white; }
	@media (max-width: 767px) {
		table.table-product-discounts {
		width: 100%; }
	}
	table.table-product-discounts tr th {
	background: #fbfbfb;
	color: #333333;
	font-weight: 700;
	border: none;
	font-weight: 700; }
	table.table-product-discounts tr td,
	table.table-product-discounts tr th {
	border-left: 1px solid #d6d4d4;
	width: 33%;
	padding: 0.625rem 1.25rem 11px;
	border-top: 1px solid #d6d4d4;
	border-right: none;
	text-shadow: none;
	text-transform: none;
	font-weight: 13px;
	line-height: 18px;
	border-bottom: none;
	}

/* quantity_wanted */
	.wrap_up_down{
	position: relative;
	z-index: 2;
	float: left;
	width: 25%;
	}
	.wrap_up_down .button-plus,
	.wrap_up_down .button-minus {
	display: inline-block;
	height: 1.25rem;
	width: 100%;
	text-align: center;
	line-height: 21px;
	font-size: 1rem;
	border-style: solid;
	border-width: 1px;
	}
	.wrap_up_down .button-minus{
	position: relative;
	z-index: 1;
	}
	.wrap_up_down .button-plus{
	position: relative;
	z-index: 1;
	border-bottom-width: 0;
	}
	#product .wrap_up_down .button-plus:hover,
	#product .wrap_up_down .button-minus:hover {
	color: #fff;
	}
	#quantity_wanted_p input {
	border: none;
	left: 0;
	z-index: 0;
	top: 0;
	float: left;
	width: 63px !important;
	height: 47px;
	line-height: 42px;
	border-style: solid;
	border-width: 1px;
	border-right-width: 0;
	text-align: center;
	border-radius: 0;
	}
	#quantity_wanted_p .btn {
	float: left;
	margin-left: 3px;
	}
	#quantity_wanted_p {
	display: inline-block;
	vertical-align: top;
	}
	.wrap_quan label {
	display: none;
	}

/* availability_statut */
	#availability_statut span#availability_label,
	#availability_date_label {
	display: inline-block; }

	.wrap_attr li:before{
	content: '';
	display: none;
	width: 4px;
	height: 4px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	}
/* box-security */
.box-security {
	border-top: 1px solid #dfdede;
	padding: 19px 19px 6px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fbfbfb));
	background-image: -webkit-linear-gradient(#ffffff, #fbfbfb);
	background-image: -moz-linear-gradient(#ffffff, #fbfbfb);
	background-image: -o-linear-gradient(#ffffff, #fbfbfb);
	background-image: linear-gradient(#ffffff, #fbfbfb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fbfbfb',GradientType=0 );
}

/* prices */
	.discount {
	display: none;
	}
	#buy_block .our_price_display {
	font-size: 30px;
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	}
	#reduction_percent span,
	#reduction_amount span {
	display: block;
	}

/* online_only */
	.pb-center-column p.online_only {
	font-weight: 700;
	font-size: 13px;
	color: #f13340;
	text-align: left;
	}
	.buttons_bottom_block {
	clear: both;
	}
	#minimal_quantity_wanted_p {
	padding-top: 0.625rem;
	line-height: 1.5;
	}

/* SEND TO FRIEND (pop-in) */
	#send_friend_form {
	padding: 0 3px;
	width: 555px;
	overflow: hidden; }
	#send_friend_form .product img {
	float: left;
	margin-right: 0.9375rem;
	border: 1px solid #ededed;
	}
	#send_friend_form .product p {
	padding: 0;
	color: #666;
	font-size: 12px;
	line-height: 1.5;
	}
	#send_friend_form .product p.product_name {
	font-size: 13px;
	color: #333;
	font-weight: bold;
	padding-bottom: 4px;
	}
	#send_friend_form .form_container {
	padding: 12px 0px 1.25rem;
	margin-top: 1.25rem;
	}
	#send_friend_form_error {
	margin-top: 1.25rem;
	}
	#send_friend_form .form_container p.intro_form {
	padding-bottom: 6px;
	font-weight: 700;
	font-size: 13px;
	color: #333333; }
	#send_friend_form .form_container p.txt_required {
	padding-bottom: 0;
	color: #666; }
	#send_friend_form .form_container .text label {
	display: block;
	width: 100%;
	font-size: 13px;
	color: #666;
	padding-bottom: 8px;
	}
	.submit .text1{
	text-align: right;
	}
	.submit .text2{
	text-align: left;
	}
	#product .text1{
	padding-right: 8px;
	}
	#product .text2{
	padding-left: 8px;
	}
	#send_friend_form .form_container .text input {
	padding: 0 5px;
	height: 35px;
	width: 100%;
	font-size: 12px;
	border: 1px solid #e0e0e0;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: white;
	}
	#send_friend_form .submit {
	text-align: center;
	padding-top: 0.9375rem;
	}
	#send_friend_form  .button{
	min-width: 130px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	}
/* PERSONNALISATION*/
	p.infoCustomizable {
	margin-bottom: 30px;
	}
	ul#uploadable_files,
	ul#text_fields {
	list-style-type: none;
	}

	.customizableProductsFile,
	.customizableProductsText {
	margin-bottom: 1.25rem;
	padding-bottom: 0.625rem;
	border-bottom: 1px solid #d6d4d4;
	}
	.customizationUploadLine {
	padding-bottom: 0.625rem; }
	.customizationUploadLine label {
	display: block;
	vertical-align: top; }
	.customizationUploadLine textarea {
	width: 50%;
	border: 1px solid #d6d4d4;
	color: #777777;
	}
	.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
	}
	#customizedDatas {
	float: right;
	}
	.accessories_block div ul li a {
	display: inline-block; }
	.accessories_block div ul li.s_title_block a,
	.accessories_block div ul li.s_title_block span {
	font-weight: 700; }

/*Detalle producto*/
#product .tag {
	display: none;
	}
.product h1{
	font-size: 2.125rem;
    color: #d7162f;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
	}
.product p{
	font-family: 'Open Sans Condensed', sans-serif;
	}
.product h2{
	color: #231f20;
	font-size: 1.125rem;
	font-family: "condensed";
	text-transform: uppercase;
    margin-bottom: 0.625rem;
}
.product ul.wrap_attr{
	padding-left: 0;
}
ul.wrap_attr li label {
	padding: 0;
}
.product ul.wrap_attr li{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.125rem;
	color: #777676;
	list-style: none;
	line-height: 1.5;
	}
.print_prod{
	display: none;
	}
.product_attributes label{
	color: #231f20;
	font-size: 1.125rem;
	font-family: "condensed";
	text-transform: uppercase;
    margin-bottom: 0.625rem;
    display: none;
	}
.price span {
    color: #231f20;
    font-family: "condensed";
    font-size: 2.25rem;
    /*line-height: 0;
    margin: 1.5rem 0 0;
    display: block !important;*/
	}
.product_attributes {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
	}
.content_prices {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
	}
.wrap_quan {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
	}
.pb-right-column li {
	list-style: none;
	}
#product_reference label, #product_reference span {
    display: inline-block;
    color: #a1a1a1;
    font-family: 'condensed';
    text-transform: none;
    font-size: 1.125rem;
    padding: 0;
}
.product .rate_wrap {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.875rem;
    padding: 1.25rem 0 0.9375rem;
}
#product_condition {
    margin-top: 0.9375rem;
}
.attribute_list ul li:first-child {
    margin-right: 0.3125rem;
}
#product_store_available_chosen a {
    width: 15.625rem;
}
	/*interaccion producto*/
	.product_schemes {
    width: 50%;
    display: inline-block;
	}
	#product_schemes {
    width: 100%;
    display: table;
	}
	#product_schemes li {
	display: table-cell;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
	height: 6.25rem;
	background-color: #f8f8f8;
	}
	#product_schemes li:hover{
	background-color: #fff;
	}
	#product_schemes li a{
	display: block;
	padding: 0.9375rem 0;
	}
	#product_schemes li a img {
    margin: 0 auto;
	}
	#product_schemes h3 {
    color: #231f20;
    font-size: 0.875rem;
	margin: 0;
	}

	/*Tabs detalle producto*/
	.product-tabs ul.ui-tabs-nav {
	background: none;
	padding: 0;
	border: none;
	}
	.product-tabs {
	border: none;
	}
	.product-tabs ul.ui-tabs-nav li {
    background: none;
    border-radius: 0;
	border-color: #dbdbdb;
    padding: 0;
    margin: 0;
	}
	.product-tabs ul.ui-tabs-nav li:hover{
	background-color: #231f20;
	}
	.product-tabs ul.ui-tabs-nav li:hover a{
	color: #fff;
	}
	.product-tabs ul.ui-tabs-nav li a{
	font-family: 'condensed';
	font-size: 0.875rem;
	color: #777676;
	text-transform: uppercase;
	}
	.product-tabs ul.ui-tabs-nav li.ui-state-active{
	background-color: #231f20;
	}
	.product-tabs ul.ui-tabs-nav li.ui-state-active a{
	color: #fff;
	}
	.product #tabs.ui-widget-content {
    border: none;
	}
	.product .ui-tabs-panel.ui-widget-content{
	background: none;
    border-radius: 0;
	border: 1px solid  #dbdbdb;
	padding: 1.5625rem 0.625rem;
	}
	.product-tabs {
    margin: 3.125rem 0 1.875rem 0;
	}

/*15-12-2015*/
.add_to_cart button {
    width: 24.6875rem;
    font-size: 1.5rem;
    padding:0.3125rem;
	font-family: 'condensed';
	color: #fff;
}
.add_to_cart button:hover{
	color: #d7162f;
}
.add_to_cart button:before{
    background-color:#d7162f;
    }

.add_to_cart button:after{
    background-color:#d7162f;
    }
#quantity_wanted{
	font-family: 'condensed';
	font-size: 1.25rem;
	color: #272727;
}

/******************************************************************
Quick View Styles
******************************************************************/
body.content_only {
	padding: 50px 30px 30px 0.9375rem;
}
#product.content_only div.primary_block {
  margin-bottom: 0;
}
.addsharethisinner .stButton .stArrow {
  display: none !important; }
.online_only{
	color: #ff8300;
	text-transform: uppercase;
}
.page-product-box.blockproductscategory{
	padding-top: 40px;
}
@media (min-width: 768px) {
	.page-product-box.blockproductscategory{
		padding-top: 77px;
		padding-bottom: 84px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#add_to_cart button{
		padding-left: 5px;
		padding-right: 5px;
	}
	.elem_butt .hidden-xxs{
		font-size: 0.8em;
	}
}
@media (max-width: 1199px) {
	#more_info_tabs li a{
		padding: 0 1.25rem;
		font-size: 1rem;
	}
}
@media (max-width: 991px) {
	#more_info_tabs{
		padding: 0;
	}
	#more_info_tabs li a{
		padding: 0 0.625rem;
		font-size: 14px;
	}
	.pb-left-column{
		padding-bottom: 30px;
	}
	.name_bullet{
		font-size: 12px;
	}
}
@media (max-width: 767px) {
	#product .carousel_block .undertitle_main,#product .carousel_block .title_main_section{
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}
	.pb-right-column,.pb-center-column{
		text-align: center;
	}
	#more_info_tabs{
		text-align: center;
	}
	#more_info_tabs li {
		float: none;
		display: inline-block;
	}
	.wrap_attr,#attributes fieldset label{
		text-align: left;
	}
	#availability_statut #availability_label{
		display: none;
	}
	.list .center-block{
		text-align: center;
		padding: 1.25rem 0.9375rem;
	}
	#product .text1,#product .text2{
		padding: 0 0.9375rem;
	}
	#product .text1{
		margin-bottom: 0.625rem;
	}
}
@media (max-width: 639px) {
	.elem_butt{
		text-align: center;
	}
	.elem_butt .hidden-xxs{
		font-size: 0;
	}
	#usefull_link_block li a{
		padding-left: 0;
	}
	#usefull_link_block li a:before{
		position: static;
	}
	#more_info_tabs li a {
		padding: 0 5px;
	}
	#add_to_cart,#quantity_wanted_p{
		width: 100%;
	}
	#send_friend_form {
		width: 100%;
	}
	#more_info_tabs li{
		display: block;
	}
	#more_info_tabs li a.selected{
		border-color: transparent;
	}
}
@media (max-width: 579px) {
	#idTab2 .name_bullet,#idTab2 .value_bullet{
		width: 100%;
	}
	#send_friend_form .button{
		min-width: 160px;
	}
	.submit .text1,.submit .text2,.address_add.submit .btn{
		width: 100%;
		text-align: center;
	}
}
@media (max-width: 480px) {
	 #quantity_wanted_p{
	 	width: auto;
	 }
	#send_friend_form .button{
		width: 100%;
	}
	#product .submit .text1, #product .submit .text2{
		padding: 0;
	}
	.pb-right-column h1{
		font-size: 14px;
	}
	#attributes fieldset{
		width: 100%;
	}
	#buy_block .wrap_bottom>div {
		width: 100%;
		margin-bottom: 0.9375rem;
	}
	.wrap_bottom .wrap_quan{
		padding-left: 7px;
	}
	.wrap_quan label{
		display: none;
	}
	#quantity_wanted_p input{
		width: 63px !important;
	}
}
@media (max-width: 419px) {
	.pb-right-column h1{
		font-size: 14px;
	}
}
