    .sitemap .center_column{
    max-width: 75rem;
    margin: 0 auto;
    float: none;
    padding: 0 0.9375rem;
    width: 100%;
    }

    #sitemap .sitemap_block li {
    padding-bottom: 0.625rem;
    }
    #sitemap .sitemap_block li a:before {
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 0.625rem;
    color: #d7162f;
    }
    #listpage_content div.tree_top {
    padding: 0 0 0 1.6875rem;
    }
    #listpage_content div.tree_top a:before {
    content: "\f015";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 1.25rem;
    color: #d7162f;
    }
    #listpage_content div.tree_top a:hover:before {
    color: #666;
    }
    .categTree .tree {
    padding-left: 1.5rem;
    }
    .categTree .tree li {
    margin: 0 0 0 1.25rem;
    padding: 0.3125rem 0 0 1.875rem;
    border-left: 1px solid #d6d4d4;
    background: url(../img/sitemap-horizontal.png) no-repeat left 15px transparent;
    }
    .categTree .tree > li {
    margin: 0 0 0 0.625rem;
    }
    .categTree .tree li.last {
    border: medium none;
    background: url(../img/sitemap-last.png) no-repeat 0px -4px transparent;
    }
    .sitemap-page {
    margin-top: 3.125rem;
    }
    .sitemap-page li a{
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.125rem;
    color: #777676;
    }
    .sitemap-page li a:hover{
    color:#d7162f;
    }
    #listpage_content {
    margin-top: 1.875rem;
    }
