    /*Stores Page Styles*/
    .stores .center_column {
    max-width: 75rem;
    margin: 0 auto;
    float: none;
    padding: 0 0.9375rem;
    width: 100%;
    }

    #stores #map {
    width: 100%;
    height: 27.8125rem;
    margin-bottom: 1.5625rem;
    }

    #stores .store-content-select .selector {
    visibility: hidden;
    display: none; }
    #stores .store-content-select.active {
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #d6d4d4; }
    #stores .store-content-select.active .selector {
    visibility: visible;
    display: block; }
    #stores #stores_loader {
    display: none;
    margin-left: 5px; }
    #stores #locationSelect {
    visibility: hidden; }
    #stores #stores-table {
    display: none; }
    #stores #stores-table tbody td {
    padding: 20px; }
    #stores #stores-table tbody td.num {
    background: #fbfbfb;
    width: 46px; }
    #stores #stores-table tbody td.name span {
    padding-left: 15px;
    }

    @media (max-width: 767px) {
    #stores #stores-table tbody td.name img {
    display: none; }
    #stores .address-input {
    width: 100%;
    margin: 0 0 20px 0;
    }
    }

    .txt-intro {
    margin-bottom: 1.25rem;
    }
    .store-content label {
    color: #4b4b4b;
    font-family: 'condensed';
    font-size: 1rem;
    display: block;
    text-transform: uppercase;
    padding-bottom: 0.625rem;
    }
    .store-content input,
    .store-content .chosen-container{
    background: #f8f8f8;
    border-color: #dbdbdb;
    font-family: 'gothic';
    font-size: 1rem;
    color: #757373;
    margin-bottom: 1.25rem;
    }
    .store-image img {
    width: 100%;
    min-width: 100px; }

    /*Accordion content*/
    #accordion-stores {
    margin: 3.125rem 0 3.75rem;
    }
    .stores .ui-widget-content {
    border: none;
    }
    .stores .ui-accordion-content {
    padding: 1.25rem;
    border:none;
    border-radius: 0;
    overflow: hidden !important;
    }
    .stores .ui-accordion-header.ui-helper-reset.ui-state-default {
    background: #F1F1F1;
    border-radius: 0;
    border: none;
    font-family: 'condensed';
    font-size: 18px;
    color: #d7162f;
    text-transform: uppercase;
    }
    .stores .ui-accordion-header.ui-helper-reset.ui-state-default:hover{
    background: #ebebeb;
    }
    .content-section h3 {
    border-bottom: 2px solid;
    padding-bottom: 5px;
    }
    .content-section h4 {
    font-family: 'condensed';
    color: #666;
    margin: 10px 0 5px 0;
    }

    /*tabla horarios*/
    .time-table {
    width: 100%;
    }
    .time-table thead {
    background: #EEE;
    color: #666;
    }
    .time-table thead tr td {
    padding: 5px 10px;
    }
    .time-table tr td {
    border: 1px solid #ccc;
    font-family: 'gothic';
    font-size: 1rem;
    }
