@CHARSET "ISO-8859-1";
.bread {
    margin-left: 17px;
}

#list-img-container {
	height: 150px;
	width: 150px;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    border: 1px solid #ccc;
}

/*****************************************************
Fixes generalres
******************************************************/

.mfp-bg {
    z-index: 10420!important;
}

.mfp-wrap {
    z-index: 10430!important;
}

#message, #center_column {
    width: 100%;
}

#saveInfo{
    width: 500px;
    margin: 0 auto;
}

#left_column, #right_column {
    display:none;
}


/*************************
		PRODUCT CARD
**************************/

.product-card {
	border:1px solid #CCC;
}

.img-container {
	background-size: cover;
	height: 200px;
	width: auto;
}

.add_container {
  display: none;
}
