@CHARSET "ISO-8859-1";

/*****************************************************
Fixes generalres
******************************************************/

.fancybox-overlay {
    z-index: 99999!important;
}

*/
#content-modal {
	background: #fff;
}

.wrapper {
    padding: 18px 4%;
}

.xdsoft_datetimepicker {
	z-index: 99999!important;
}*/

#message {
    width: 100%;
}

.modal-footer{
    margin-top: 15px;
}

#btnAdd {
    margin-top: 28px;
}

.bread {
    margin-left: 17px;
}

/*******************************************************
Contenedor de listas
********************************************************/

#list-img-container {
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	background-size: cover;
    border: 1px solid #ccc;
    background-position: center;
}

.list-item-container {
	padding: 10px;
    background-color: #EFEEEE;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid;
}

.list-item-container  .row > .vCenter{
	 padding-top: 30px;
}

.panel-over {
	height: 50px
}