@CHARSET "ISO-8859-1";

.icon-giftlist {
    text-align: center !important;
}

.icon-giftlist:before, .icon-icon-giftlist:before { 
	content: "\f06b";
}

#maintab-giftlist{
    display: none;
}
.adminproducts #form-product td.text-right .btn-group.pull-right{
    display: none;
}