@media (min-width: 768px) and (max-width: 991px) {
	#header_logo img{
	padding: 0 10% 0 0;
	}
	.fixedHeader #header_logo img {
	padding: 0 12% 0 0;
	}
	#header_logo span{
	font-size: 20px;
	padding-left: 0;
	}
	.block .products-block li .products-block-image {
	float: none;
	display: inline-block;
	margin: 0 auto 10px;
	text-align: center;
	}
	.ru div.copyright a{
	font-size: 12px;
	}
}

@media (min-width: 1200px) {
	#address .form-group.phone-number,
	#identity .form-group.phone-number,
	#account-creation_form .form-group.phone-number,
	#new_account_form .form-group.phone-number,
	#opc_account_form .form-group.phone-number,
	#authentication .form-group.phone-number {
	/*float: left;
	width: 270px;
	margin-right: 13px;*/
	}

	#address .form-group.phone-number + p,
	#identity .form-group.phone-number + p,
	#account-creation_form .form-group.phone-number + p,
	#new_account_form .form-group.phone-number + p,
	#opc_account_form .form-group.phone-number + p,
	#authentication .form-group.phone-number + p {
	/*padding: 23px 0 0 0px;
	margin-bottom: 0;*/
	}
	#manufacturers_list.grid li.first-in-line,
	#suppliers_list.grid li.first-in-line {
	clear: left;
	}
	#manufacturers_list.grid li.last-line .product-container,
	#suppliers_list.grid li.last-line .product-container {
	border-bottom: none;
	}
	#guestTracking .form-group {
	overflow: hidden;
	}
	#guestTracking .form-group i {
	padding-left: 10px;
	}
	#guestTracking .form-control {
	float: left;
	}
	#guestTracking label {
	float: left;
	clear: both;
	width: 100%;
	}
}

@media (max-width: 767px) {
	.product_list .wrap_view>a.quick-view{
	display: none;
	}

	#new-products_block_right  h4:after,#best-sellers_block_right  h4:after{
	display: none;
	}
	.block .title_block.active:after,
	.block h4.active:after {
	content: '\e803';
	}
	h2.title_main_section{
	font-size: 22px;
	}
	.footer_line_two #paiement_logo_block_left {
	bottom: -65px;
	left: 15px;
	text-align: center;
	}
	#back-top {
	bottom: 80px;
	}
	.ru #back-top{
	bottom: 90px;
	}
	div.copyright a{
	display: block;
	text-align: center;
	margin-top: 70px;
	}
	div.copyright {
	line-height: 30px;
	padding: 105px 0 30px;
	font-size: 12px;
	}
	.block .list-block {
	margin-top: 0;
	}
	.block .list-block .form-group select {
	width: 270px;
	}
	#footer .footer_line_two h4 {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 40px;
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	}
	#footer .footer_line_two h4.active,#footer .footer_line_two .footer_logo h4{
	border-bottom-width: 0;
	}
	#footer .footer_line_two h4:after {
	display: block;
	font-family: "fontello";
	content: '\e803';
	position: absolute;
	right: 10px;
	top: 1px;
	}
	#footer .footer_line_two h4.active:after {
	content: '\e804';
	}
	#footer .footer_line_two .footer_logo  h4:after {
	display: none;
	}
	#order-detail-content #cart_summary table, #order-detail-content #cart_summary thead, #order-detail-content #cart_summary tbody, #order-detail-content #cart_summary th, #order-detail-content #cart_summary td, #order-detail-content #cart_summary tr {
	display: block;
	}
	#order-detail-content #cart_summary thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
	}
	#order-detail-content #cart_summary tr {
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
	}
	#order-detail-content #cart_summary td {
	border: none;
	position: relative;
	width: 50%;
	float: left;
	white-space: normal;
	text-align: center;
	}
	#order-detail-content #cart_summary td.cart_avail {
	clear: both;
	}
	#order-detail-content #cart_summary td.cart_quantity {
	clear: both;
	padding: 0 15px;
	}
	#order-detail-content #cart_summary td.cart_delete {
	width: 100%;
	clear: both;
	}
	#order-detail-content #cart_summary td.cart_delete:before {
	display: inline-block;
	padding-right: 0.5em;
	position: relative;
	top: -3px;
	}
	#order-detail-content #cart_summary td:before {
	content: attr(data-title);
	display: block;
	}
	#order-detail-content #cart_summary tfoot td:before {
	display: inline;
	}
	#order-detail-content #cart_summary tfoot tr .text-right, #order-detail-content #cart_summary tfoot tr tbody td.cart_unit, #order-detail-content #cart_summary tbody tfoot tr td.cart_unit, #order-detail-content #cart_summary tfoot tr tbody td.cart_total, #order-detail-content #cart_summary tbody tfoot tr td.cart_total, #order-detail-content #cart_summary tfoot tr .price {
	display: block;
	float: left;
	width: 50%;
	}
	#manufacturers_list.list li .right-side-content,
	#suppliers_list.list li .right-side-content {
	min-height: 1px;
	padding: 0;
	border: none;
	}
	#manufacturers_list.list li .middle-side,
	#suppliers_list.list li .middle-side {
	padding-right: 15px;
	padding-left: 15px;
	}
	#manufacturers_list.list li .right-side-content .product-counter,
	#suppliers_list.list li .right-side-content .product-counter {
	top: 0;
	}
	#manufacturers_list.list li .mansup-container,
	#suppliers_list.list li .mansup-container {
	text-align: center;
	}
	#order-detail-content #cart_summary tbody td .price {
	text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	#manufacturers_list.grid li.first-item-of-tablet-line,
	#suppliers_list.grid li.first-item-of-tablet-line {
	clear: left;
	}
	#manufacturers_list.grid li.last-tablet-line .product-container,
	#suppliers_list.grid li.last-tablet-line .product-container {
	border-bottom: none;
	}
}
@media (max-width: 767px) {
	#manufacturers_list.grid .product-container,
	#suppliers_list.grid .product-container {
		border-bottom: none;
	}
}

@media (max-width: 767px) {
	#pagenotfound .pagenotfound label {
		display: block;
	}
}
@media (max-width: 1199px) {
	#cart_summary tfoot td.price{
	font-size: 12px;
	}
	.zoomdiv {
	display: none !important;
	}
	ul.step li a, ul.step li span, ul.step li.step_current span, ul.step li.step_current_end span{
	font-size: 13px;
	}
}
@media (max-height: 768px) {
	#pagenotfound h1{
	font-size: 170px;
	}
	#pagenotfound h2 {
	font-size: 35px;
	padding-bottom: 35px;
	}
	#pagenotfound .columns-container {
	padding: 190px 0 50px;
	}
}
@media (max-height: 680px) {
	#pagenotfound h1{
	font-size: 130px;
	}
	#pagenotfound h2 {
	font-size: 20px;
	padding-bottom: 20px;
	}
	#pagenotfound .columns-container {
	padding: 150px 0 30px;
	}
}
@media (max-height: 620px){
	html.pagenotfound{
	height: auto;
	}
}
/* media */

@media (max-width: 1199px) {
	#cart_summary tbody td.cart_description small{
	font-size: 11px;
	}
	.page-subheading{
	font-size: 16px;
	}
	.sortPagiBar .compare-form{
	top: 7px;
	}
	.content_sortPagiBar .sortPagiBar label{
	font-size: 12px;
	}
	.content_sortPagiBar .sortPagiBar .nbrItemPage{
	margin-left: 10px;
	}
	.display li, .display_m li{
	width: 32px;
	}
	.display li a, .display_m li a{
	height: 14px;
	width: 14px;
	}
	.display li#grid a:after, .display_m li#grid a:after,
	.display li#grid a:before, .display_m li#grid a:before,
	.display li#grid a span:after, .display_m li#grid a span:after,
	.display li#grid a span:before, .display_m li#grid a span:before{
	width: 6px;
	height: 6px;
	}
	.sortPagiBar .compare-form .btn.btn-default{
	padding-left: 5px;
	padding-right: 5px;
	}
	.sortPagiBar .compare-form .btn.btn-default,.content_sortPagiBar .sortPagiBar label,
	.content_sortPagiBar .chosen-container-single .chosen-single,
	.display li, .display_m li{
	height: 32px;
	line-height: 32px;
	}
	.top-pagination-content ul.pagination li > a, .top-pagination-content ul.pagination li > span,
	.bottom-pagination-content ul.pagination li > a, .bottom-pagination-content ul.pagination li > span{
	line-height: 30px;
	height: 30px;
	}
	.top-pagination-content ul.pagination li.pagination_previous > span,
	.top-pagination-content ul.pagination li.pagination_next > span,
	.top-pagination-content ul.pagination li.pagination_previous > a,
	.top-pagination-content ul.pagination li.pagination_next > a,
	.bottom-pagination-content ul.pagination li.pagination_previous > span,
	.bottom-pagination-content ul.pagination li.pagination_next > span,
	.bottom-pagination-content ul.pagination li.pagination_previous > a,
	.bottom-pagination-content ul.pagination li.pagination_next > a{
	width: 20px;
	}
	.content_sortPagiBar .sortPagiBar{
	padding-left: 69px;
	}
	.productsSortForm .chosen-container {
	max-width: 100px;
	}
	.content_sortPagiBar .chosen-container,.content_sortPagiBar{
	font-size: 12px;
	}
	.content_sortPagiBar .chosen-container-single .chosen-single{
	padding: 0 12px 0 8px;
	}
	.content_sortPagiBar .chosen-container .chosen-results li{
	padding-left: 12px;
	padding-right: 12px;
	}
	.content_sortPagiBar .chosen-container-single .chosen-single div{
	width: 13px;
	}
	.content_sortPagiBar {
	height: 82px;
	}
	.content_sortPagiBar .sortPagiBar{
	padding-right: 97px;
	}
}
@media (min-width:768px){
	#header{
	position: fixed;
	top: 0;
	}
}
@media (min-width:768px) and (max-width: 1199px) {
	.top-pagination-content ul.pagination li, .bottom-pagination-content ul.pagination li{
	padding: 0 5px;
	}

	#left_column .button{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10px;
	}

}
@media (min-width:768px) and (max-width: 991px) {
	.block .products-block .item .product-content h5{
	padding: 15px 0;
	}
	.block .products-block .product-name{
	font-size: 13px;
	}
	.block .products-block .price{
	font-size: 22px;
	}


	ul.step li em {
	display: none;
	}
	ul.step li {
	position: relative;
	}
	ul.step li:after{
	content: '';
	position: absolute;
	width: 1px;
	top: -2px;
	bottom: -2px;
	right: 0;
	background: #e2e2e2;
	}
	ul.step li#step_end:after,ul.step li.step_done_last:after,ul.step li.step_current:after {
	display: none;
	}
	.sf-menu li ul{
	margin-top: 15px;
	}
}
@media (min-width:768px) {

	ul.step li.last {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}
	ul.step li.last span {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}
}
@media (min-width: 992px) {
	ul.step li a:after,
	ul.step li span:after, ul.step li.step_current span:after, ul.step li.step_current_end span:after {
	/*content: "";
	position: absolute;
	top: 0;
	right: -31px;
	z-index: 0;
	text-indent: -5000px;
	display: block;
	width: 31px;
	height: 52px;
	margin-top: -2px;*/
	}

	ul.step li.step_done a {
	padding-left: 38px;
	}
	ul.step li.step_done a:after {
	border: 1px solid #e2e2e2;
	border-left: none;
	border-bottom: none;
	width: 40px;
	height: 40px;
	background-color: #CCC;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 6px;
	right: -21px;
	}
	ul.step li.step_done.step_done_last a:after {
	border: 1px solid transparent;
	border-left:none;
	border-bottom:none;
	}
	ul.step li#step_end span:after {
	display: none;
	}

}
@media (max-width: 991px) {
	.page-subheading{
	font-size: 14px;
	}
	.footer_line_two h4{
	font-size: 13px;
	}
	.footer_line_two ul li a{
	font-size: 11px;
	}
	h2.title_main_section{
	font-size: 35px;
	}
	.footer_line_two #paiement_logo_block_left{
	right: 30px;
	}
	html.pagenotfound{
	height: auto;
	}
	#pagenotfound h1 span:before, #pagenotfound h1 span:after {
	font-size: 110px;
	left: -130px;
	height: 124px;
	}
	#pagenotfound h1 span:after {
	left: auto;
	right: -130px;
	}
	#pagenotfound h1{
	font-size: 170px;
	}
	#pagenotfound h2{
	font-size: 30px;
	}
	.content_sortPagiBar .sortPagiBar .productsSortForm label:before{
	font-size: 15px;
	content: "\f0dc";
	font-family: 'FontAwesome';
	display: inline-block;
	}
	.content_sortPagiBar .sortPagiBar .nbrItemPage label span,
	.content_sortPagiBar .sortPagiBar .productsSortForm label span,
	button.button.button-medium.bt_compare span{
	display: none;
	}
	.content_sortPagiBar .sortPagiBar .nbrItemPage label:before{
	font-size: 16px;
	content: '\e800';
	font-family: 'fontello';
	display: inline-block;
	}
	button.button.button-medium.bt_compare{
	width: 32px;
	padding: 0;
	}
	.sortPagiBar .compare-form .btn.btn-default i{
	padding-right: 0;
	}
	ul.product_list .tag{
	font-size: 12px;
	padding: 0 7px;
	line-height: 22px;
	height: 22px;
	}
	a.btn,button.btn{
	font-size: 12px;
	padding-right: 5px;
	padding-right: 5px;
	}
	.btn.btn_border{
	padding-top: 18px;
	padding-bottom: 17px;
	}
	#cart_summary tbody td.cart_description .product-name a{
	font-size: 12px;
	}
	.inner_main_pane{
	padding-top: 0;
	}

	.tabs_carousel > li a{
	font-size: 12px;
	padding: 0 15px;
	}
}
@media (max-width: 767px){
	#order-detail-content #cart_summary td{
	width: 100% !important;
	}
	.table tbody > tr > td.cart_quantity .cart_quantity_button a {
	height: 40px;
	line-height: 40px;
	width: 11%;
	position: absolute;
	left: 0;
	border: 1px solid #e0e0e0;
	transition-duration: 0s;
	}
	.table tbody > tr > td.cart_quantity .cart_quantity_button a:active {
	background: #d25900;
	border-color: #d25900;
	}
	#page .table tbody > tr > td.cart_quantity .cart_quantity_button a:active{
	color: #fff;
	}
	.table tbody > tr > td.cart_quantity .cart_quantity_button a.product_quantity_up {
	left: auto;
	right: 0;
	}
	.cart_quantity .cart_quantity_input {
	width: 78.5% !important;
	height: 40px;
	left: 11%;
	top: 0;
	right: 11%;
	border-top: 1px solid #e0e0e0 !important;
	border-bottom: 1px solid #e0e0e0 !important;
	}
	.quantity_item{
	border:none;
	}
	.wrap_up_down_cart{
	height: 40px;
	}
	#cart_summary tbody td.cart_product>a{
	width: 100%;
	}
	#cart_summary tfoot td#total_price_container{
	background: none;
	}
	.content_sortPagiBar .sortPagiBar{
	padding-left: 0;
	}
	#pagenotfound h1 {
	font-size: 130px;
	}
	#pagenotfound h1 span:before, #pagenotfound h1 span:after {
	font-size: 90px;
	left: -90px;
	height: 104px;
	}
	#pagenotfound h1 span:after {
	left: auto;
	right: -90px;
	}
	#pagenotfound .columns-container{
	padding: 150px 0;
	}
	ul.step li {
	width: 100%;
	border-left-width: 1px;
	}
	ul.step li,ul.step li.step_done{
	border-bottom: 1px solid #e2e2e2;
	}
	ul.step li.step_dones.step_done_last{
	border:none;
	}
	ul.step li#step_end{
	border: none;
	}
	#center_column ul.step li{
	padding-left: 0 !important;
	}

	h2.title_main_section span:before, h2.title_main_section span:after,
	h2.title_main_section strong:before, h2.title_main_section strong:after{
	font-size: 25px;
	height: 27px;
	left: -40px;
	}
	h2.title_main_section span:after,h2.title_main_section strong:after{
	left: auto;
	right: -40px;
	}
}
@media (min-width: 768px){
	.wrap_up_down_cart{
	float: left;
	z-index: 1;
	}
}
@media (max-width: 639px){
	#footer .footer_line_two h4{
	font-size: 14px;
	line-height: 34px;
	}
	.cart_navigation{
	text-align: center;
	}
	#page .cart_navigation .button-medium, #page .cart_navigation .btn.btn-default {
	margin-right: 10px;
	margin-bottom: 20px;
	min-width: 240px;
	}
	#page .cart_navigation .button-medium {
	float: none;
	}
}
@media (max-width: 579px){
	ul.product_listdia .compare {
	display: none;
	}
	.page-heading span.heading-counter {
	display: block;
	float: none;
	}
	#order .delivery_option > div > table.resume td, #order-opc .delivery_option > div > table.resume td{
	display: block;
	width: 100% !important;
	}
	#order-opc .delivery_option > div > table.resume,
	#order .delivery_option > div > table.resume{
	border: none;
	}
	#order .delivery_option > div > table.resume td:not(:last-child), #order-opc .delivery_option > div > table.resume td:not(:last-child){
	border-bottom: none;
	}
	.page-subheading{
	font-size: 13px;
	}
	.box li {
	font-size: 12px;
	}
	#page{
	overflow: hidden;
	}
	.tabs_carousel {
	width: 100%;
	margin-bottom: 93px;
	}
	.tabs_carousel > li{
	width: 33.33333%;
	text-align: center;
	}
	.tabs_carousel > li a{
	padding: 0 5px;
	}
	.content_sortPagiBar {
	height: auto;
	padding: 15px 0;
	}
	.content_sortPagiBar .sortPagiBar{
	position: relative;
	padding-right: 0;
	top: 0;
	bottom: 0;
	}
	.top-pagination-content, .bottom-pagination-content {
	width: 100%;
	clear: both;
	text-align: center;
	}
	.content_sortPagiBar .sortPagiBar .productsSortForm,.content_sortPagiBar .sortPagiBar .nbrItemPage{
	float: right;
	}
	#pagenotfound h1 {
	font-size: 100px;
	}
	#pagenotfound h1 span:before, #pagenotfound h1 span:after {
	font-size: 60px;
	left: -70px;
	height: 64px;
	}
	#pagenotfound h1 span:after {
	left: auto;
	right: -70px;
	}
	#pagenotfound .columns-container {
	padding: 100px 0;
	}
	#pagenotfound h2{
	font-size: 20px;
	padding-bottom: 30px;
	padding-top: 10px;
	}
	ul.footer_links li
	{
	width: 100%;
	float: left;
	text-align: center;
	padding-bottom: 15px;
	}
}
@media (max-width: 519px){
	ul.product_list.grid.category_list > li{
	width: 100%;
	}
	ul.product_list.grid.category_list li.ajax_block_product .product-container{
	height: auto;
	}
	.tabs_carousel {
	margin-bottom: 112px;
	}
	.tabs_carousel > li a{
	font-size: 10px;
	height: 30px;
	line-height: 30px;
	}
}
@media (max-width: 480px){
	div.copyright a{
	font-size: 11px;
	}
	#paiement_logo_block_left img{
	width: 34px;
	}
	.form_404 {
	position: relative;
	padding-right: 85px;
	}
	.form_404 .btn {
	position: absolute;
	top: 0;
	right: 0;
	}
	.display, .display_m{
	float: left;
	}
	.content_sortPagiBar .sortPagiBar .productsSortForm{
	float: right;
	}
	.top-pagination-content, .bottom-pagination-content{
	text-align: right;
	padding-left: 96px;
	}
	.content_sortPagiBar .sortPagiBar .nbrItemPage {
	position: absolute;
	bottom: -47px;
	left: 0;
	margin-left: 0;
	}

	#identity #center_column form.std .row .col-xs-4, #authentication #center_column form.std .row .col-xs-4, #order-opc #center_column form.std .row .col-xs-4,
	#identity #center_column form.std .row .col-xs-4 .chosen-container, #authentication #center_column form.std .row .col-xs-4 .chosen-container, #order-opc #center_column form.std .row .col-xs-4 .chosen-container{
	width: 100% !important;
	max-width: none;
	}
	#identity #center_column form.std .row .col-xs-4, #authentication #center_column form.std .row .col-xs-4, #order-opc #center_column form.std .row .col-xs-4{
	margin-bottom: 15px;
	}
	#address .form-group .form-control, #identity .form-group .form-control, #account-creation_form .form-group .form-control, #new_account_form .form-group .form-control, #opc_account_form .form-group .form-control, #authentication .form-group .form-control{
	max-width: none;
  	}
  	h2.title_main_section span:before, h2.title_main_section span:after,
  	h2.title_main_section strong:before, h2.title_main_section strong:after{
	font-size: 20px;
	height: 22px;
	left: -25px;
	}
	h2.title_main_section span:after,h2.title_main_section strong:after{
	left: auto;
	right: -25px;
	}
}
@media (max-width: 419px){
	#order-detail-content #cart_summary td.cart_product{
	width: 100%;
	}
	#pagenotfound h1 {
	font-size: 70px;
	}
	#pagenotfound h1 span:before, #pagenotfound h1 span:after {
	font-size: 40px;
	left: -44px;
	height: 46px;
	}
	#pagenotfound h1 span:after {
	left: auto;
	right: -44px;
	}
	#pagenotfound h2{
	font-size: 16px;
	padding-bottom: 20px;
	}
	#pagenotfound .columns-container {
	padding: 50px 0;
	}
}

/*01-12-2015*/

@media screen and (max-width :639px) {

	/*Header*/
	.menu-mobile-grover {
	position: absolute;
	left: 5rem;
	top: 0.4375rem;
	}
	.menu-mobile li a {
    padding: 30px 20px;
    color: #a5a5a5;
    font-family: 'Conv_trade-gothic-no-18-condense';
    font-size: 16px;
    border-top: 0.0625rem solid #151515;
    border-bottom: 0.0625rem solid #353535;
    display: block;
	}
	.menu-mobile {
    background: #212121;
    z-index: 10;
    position: relative;
	}
	.header-container .main_panel.cf{
	height: auto;
	box-shadow:none;
	position: relative;
	margin-bottom: 6.25rem;
	}
	.left-up-menu{
	padding: 0;
	display: none;
	}
	nav#block_top_menu {
    position: absolute;
    left: 0;
	padding: 0;
	}
	#menu.menu-experiencias{
	position: absolute;
	top: 10.9375rem;
	text-align: center;
	}
	.menu-mobile{
	display: none;
	}
	#header_logo {
    position: absolute;
    top: 100px;
	}
	.menu-left{
	padding: 0;
	}
	.logo-desktop{
	padding: 0;
	}
	#redes,
	#chat,
	#blog,
	#experiencias,
	.coleccion  {
    display: none;
	}
	.right-up-menu > ul{
	float: none;
	}
	.right-down-menu {
    padding: 0;
	}
	.right-down-menu {
    float: left;
    padding: 0;
	}
	.right-up-menu {
    float: right;
	border: none;
	}
	#menu-right {
	position: absolute;
	right: 0;
	}
	#search {
    position: absolute;
    right: 170px;
    top: 15px;
	}
	.shopping_cart{
	background: none;
	}
	.products_block .owl-controls{
	top: inherit;
    bottom: -2.5rem;
    left: 7.5rem;
	}
	/*zona perfil*/
	#user{
	min-width: 4.375rem;
	padding: 0.625rem;
	}
	#user .login{
	display: none;
	}
	.user-profile{
	display: block;
	margin: 0 auto;
	}

	/*slider*/
	.coleccion{
	display: none;
	}

	/*Content*/
	.index h1 {
	margin: 0;
	font-size: 1.875rem;
	margin-right: 0.3125rem;
	}

	/*productos visualizados*/
	.viewed-products {
    display: none;
	}

	/*nuevos productos*/
	.products-block {
    margin-top: 1.875rem;
	}
	.products_block .owl-carousel{
	position: relative;
	}
	.btn-view-products a.btn.btn-default {
	background: url("../../img/icon-ver-mas.png") 0 center no-repeat;
	text-indent: 99em;
	display: inline-block;
	padding: 0;
	border: none;
	width: 25px;
	height: 25px;
	}
	.new-products .owl-item {
	width: 18.125rem !important;
	}

	/*destacados*/
	.info {
    margin-top: 20px;
	}
	.info img {
    width: 100%;
	}

	/*experiencias*/
	.experiences {
    display: none;
	}

	/*blog*/
	.zona-blog{
	display: none;
	}

	/*footer*/
	#newsletter_block_left > p {
    text-align: center;
	}
	.newsletter-input{
	border-right: 1px solid #fff;
	text-align: center;
	width: 100%;
	}
	button.button-small.btn-enviar {
    display: block;
    margin: 1.25rem auto 0;
	}
	.footer .habeas p {
    font-size: 0.875rem;
    vertical-align: bottom;
	}
	.footer form {
    margin-bottom: 3.125rem;
	}
	.menu-footer .column li {
    text-align: center;
	}
	.footer .share p {
    text-align: center;
    display: block;
    margin-bottom: 1.25rem;
	}
	.fb_iframe_widget_fluid {
    display: block !important;
    text-align: center;
	}
	.logo-copyright {
    width: auto;
	}
	.menu-copyright ul li {
    display: none;
	}
	.menu-copyright ul li a{
	font-size: 0.875rem;
	}
	.menu-copyright ul li#copyright {
    display: inline-block;
	padding-left: 0;
	}
	.habeas {
    display: block;
    text-align: center;
	}
	.menu-footer .column {
    padding-right: 0;
    padding-left: 0;
	}
	.menu-footer li a {
	border-top: 0.0625rem solid #151515;
    border-bottom: 0.0625rem solid #353535;
    padding-top: 1.25rem;
	}
	.column-1 li:first-child a {
    border-top: none;
	}
	.footer-down {
    text-align: center;
	}
	.menu-footer {
    margin-bottom: 3.125rem;
	}
}

@media (min-width:568px) and (max-width: 639px){
	.new-products .owl-item{
	width: 33.125rem !important;
	}
}

@media (min-width:768px) and (max-width :1024px){

	/*Header*/
	.left-up-menu {
    padding-left: 0.9375rem;
	}

	#user .login {
    display: none;
	}
	#user {
    min-width: 4.375rem;
    padding: 0.625rem;
	}
	.user-profile {
    display: block;
    margin: 0 auto;
	}
	.right-down-menu {
    padding-right: 15px;
	}
	.menu-experiencias {
    padding-left: 0;
    text-align: right;
	}
	.menu-left li a {
    padding-left: 20px;
    padding-right: 5px;
    font-size: 14px;
	}
	.fixedHeader .menu-content {
    margin-top: 10px;
    margin-left: 20px;
	}

	/*Slider*/
	#homepage-slider .homeslider-description {
    padding-top: 12.5rem;
	}
	.new-products .owl-controls {
    display: none !important;
	}

	/*Coleccion*/
	.content-coleccion {
    padding-left: 1.5625rem;
    width: 16.25rem;
	}
	.coleccion h2 {
    font-size: 1.125rem;
	}
	.coleccion p {
    font-size: 1rem;
	}
	.coleccion img {
    width: 100%;
    height: auto;
	}

	/*Productos visualizados*/
	.viewed-products{display: none;}
	.viewed-products .title_block span {
    margin-bottom: 1.5625rem;
	}
	.viewed-products ul li.item:first-child {
    width: 14.0625rem;
	}
	.viewed-products ul li {
    width: 12.8125rem;
	}

	/*Nuevos productos*/
	.new-products .owl-item {
    width: 20rem!important;
	}

	/*Experiencias*/
	.slide-experiencias img{
	width: 100%;
	}

	/*Blog*/
	div.newsHomeContent{
	width: 80%;
	}
	.newsHomeImg img {
    width: 100%;
	}

	/*Footer*/
	.newsletter-input {
    width: 17.1875rem;
	}
	.logo-copyright {
    width: auto;
	}

}

@media only screen and (max-width :1024px) and (min-width: 321px) {

	.header-container .main_panel .grid_5 {
			width: 39.66666%;
	}

	.header-container .main_panel .grid_2 {
			width: 20.66666%;
	}

	.header-container .main_panel .menu-left {
	    padding: 1.275rem 0 0 0;
	}

	#user {
		position:relative;
		padding: 0.2rem;
	}

	.content-user {
		display:block !important;
		position:relative;
	}

	.content-user  .user-profile {
		margin: auto;
	}

	.sf-contener .menu-content > li > a {
    margin-left: 0.875rem;
	}

	.header-container {
    height: 215px;
	}

		.header_user_info .content-user > a {
			display:none;
			position: absolute;
	    top: 58px;
	    background: #D9292E;
	    right: -8px;
	    width: 150px;
	    text-align: center;
	    padding: 5px 0;
			border: 0;
		}

		.header_user_info .content-user > a:hover {
			background: #BB171C;
		}

		.header_user_info .content-user .logout {
	    top: 92px;
		}

		.menu-experiencias {
			padding:0;
		}

		.menu-experiencias {
  		text-align: inherit;
			float: left;
			margin-top: 20px;
		}

			.left-down-menu {
				position:relative;
			}

			.left-down-menu .menu-experiencias {
				position: absolute;
				left: 20%;
			}

}

@media screen and (max-width :320px) {

	#user {
		position:relative;
	}

	.content-user {
		display:block !important;
		position:relative;
	}

	.content-user  .user-profile {
		margin:0;
	}

	.header-container {
    height: 215px;
	}

		.header_user_info .content-user > a {
			display:none;
			position: absolute;
	    top: 58px;
	    background: #D9292E;
	    right: -8px;
	    width: 150px;
	    text-align: center;
	    padding: 5px 0;
			border: 0;
		}

		.header_user_info .content-user > a:hover {
			background: #BB171C;
		}

		.header_user_info .content-user .logout {
	    top: 92px;
		}

		.menu-experiencias {
			padding:0;
		}

	.left-down-menu .menu-experiencias li {
	    height: 20px;
			width: 50%;
			display: inline;
	}
		.left-down-menu .menu-experiencias li a {
			font-size: 1.0rem;
		}
	/*Banner*/

	#slider #homepage-slider .homeslider-description {
		padding-top: 0 !important;
	}

	.content-user .show-user:before {
		content: "\2304";
		color:#fff;
		font-size: 2rem;
		position: absolute;
		right: -4px;
    top: 8px;
	}

	.content-user:before:hover .account {
		display:block;
	}

	.product-content h2 {
	    font-family: "gothic";
		}

	.sf-contener .sf-menu > li span {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

	.sf-contener .sf-menu > li span:after {
		content: '\2630';
		font-size: 30px;
		color: #000;
	}

	.sf-contener .sf-menu > li span.active:after {
		content: '\2715';
	}

	/*menu*/

	#block_top_menu .menu-content > li > ul {
		padding:0;
	}

	.menu-mobile li a {
		font-family: 'condensed';
		padding: 20px 20px;
	}

	.menu-mobile > li > ul > li a {
		color:#000;
	}

	.menu-mobile > li > ul, .menu-mobile > li > ul > li > ul {
		display:none;
	}

	.menu-mobile > li .more {
		color: #fff;
		display: block;
		width: 40px;
		height: 50px;
		float: left;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
	}

	.menu-mobile li .rotate-o {
		transform: rotate(0deg);
	}

	.menu-mobile > li .more:before {
		content: '\2335';
	}

	.menu-mobile > li > ul {
		background:#2C2C2C;
	}

	.menu-mobile > li > ul > li {
		background:transparent;
		border-bottom:#525252 solid 1px;
	}

	.menu-mobile > li > ul > li a {
		display:block;
		background:#2C2C2C;
		color:#fff;
		border:none;
	}

	.menu-mobile > li > ul > li > ul {
		background:#4E4E4E;
	}

	.menu-mobile > li > ul > li > ul li {
		background:transparent;
		border-bottom:#676767 solid 1px;
	}

	.menu-mobile > li > ul > li > ul li a {
		background:#4E4E4E;
		color:#fff;
	}

	.search-container form {
		position: absolute;
    z-index: 30;
		width:100%;
	}

	.bx-viewport .product_list.grid .product-container:after, .bx-viewport .c_item .product-container:after {
    	top: 100%;
	}

	.bx-viewport .product_list.grid .product-container:hover:after, .bx-viewport .c_item .product-container:hover:after {
		top: 0%;
	}

	.product_list.grid .product-container:before,.product_list.grid .product-container:after,
.c_item .product-container:before, .c_item .product-container:after{
	background: rgba(35,31,32,0.3);
	}

	.bx-viewport .product_list.grid .product-container:before, .bx-viewport .product_list.grid .product-container:after, .bx-viewport .c_item .product-container:before, .bx-viewport .c_item .product-container:after {
		height:50%;
	}

	.product_list.grid .product-container:before, .c_item .product-container:before	{
		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
		}

	.product_list.grid .product-container:hover:before, .c_item .product-container:hover:before {
    	top: 0;
    	height: 50% !important;
	}

	.product_list.grid .product-container:hover:after, .c_item .product-container:hover:after {
    	top: 50% !important;
    	height: 50% !important;
		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
	}

 .product_list.grid .product-container:after, .c_item .product-container:after {
		top: 100% !important;
		}

	 .button-container .btn {
		 font-family: "gothic";
	 }

	.info-chaordic img {
		width:100%;
	}

	.product_list.grid .product-container .price.product-price {
		color:#000;
	}

	.products_block .bx-controls.bx-has-pager {
		position: initial;
		display: inline-block;
	}

	.products_block .bx-wrapper .bx-pager.bx-default-pager a:hover, .products_block .bx-wrapper .bx-pager.bx-default-pager a.active {
		background:#D9292E;
	}

	.product_list.grid .product-container:before, .product_list.grid .product-container:after, .c_item .product-container:before, .c_item .product-container:after {
		height:auto;
		}

.products_block .bx-wrapper .bx-pager.bx-default-pager a {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
	.new-products .tag .new-label {
		padding: 13px 12px;
	}

		.newsletter-footer .newsletter-input {
			border-right: 1px solid #fff;
			width: 100%;
			padding: 0 0;
		}

		.form-control:focus {
		    border-color: transparent;
		}

		button.button-small.btn-enviar:hover {
		    border: 1px solid #fff;
		    background: rgba(255,255,255,0.2);
		}

		.footer .checker {
		    display: block;
		    float: left;
		}

		.fb_iframe_widget {
		    display: block;
		    width: 50%;
		    margin: 0 auto;
			}

		.form-group .habeas.cf > p {
			float: left;
	    width: 85%;
	    font-size: 1rem;
	    margin-top: -14px;
	    text-align: left;
	    margin-left: 1.3rem;
		}

		.logo-copyright {
		    float: left;
				padding: 0.7rem 0px;
		}

		.logo-copyright img {
			width:80%;
		}

		.menu-copyright{
			float:left;
			width: 75%;
			text-align: left;
		}

	/*FORMULARIOS*/

	.categorias input.checkbox {
		display:inline;
	}

	.add_to_cart .button {
    	width: 100%;
		}

	.ui-tabs-nav li.ui-state-default.ui-corner-top, .ui-tabs-nav li.ui-state-default.ui-corner-top a {
		width: 100%;
		text-align:center;
	}

	.pb-right-column .rte.align_justify	{
		font-family: 'Open Sans', sans-serif;
		text-align:left;
		color:#777676;
		}

	.ui-tabs-panel .btn-opinion, .ui-tabs-panel .info-opinion {
		width:100%;
		}

	.ui-tabs-panel .info-opinion {
		border:none;
		padding:0;
		}

	.ui-tabs-panel .info-opinion a {
		    padding: 10px;
			font-size: 14.2px;
			margin-left: 4px;
		}

	.container .product_schemes {
		width:100%;
		}

	.tag.out {
		background: #a7a3b2;
		color: #fff;
		font-family: "condensed";
		padding: 7px 15px;
		font-weight: lighter;
		font-size: 16px;
	}

	/*filtro*/

	.content_sortPagiBar .sortPagiBar form {
			width:100%;
		}

	.content_sortPagiBar .sortPagiBar .select {
		width:100%;
		}

		.main-container .parrilla-productos #selectProductSort_chosen, .main-container .parrilla-productos #selectProductSort_bottom_chosen {
	    width: 12.74rem !important;
		}

		.main-container .parrilla-productos .sortPagiBar form label {
		    padding: 0 0.3rem;
    		height: 32px;
		}

		.center_column .content_sortPagiBar .top-pagination-content ul {
		    height: 32px;
		}

		.content_sortPagiBar .sortPagiBar .nbrItemPage {
			bottom: -44px;
			width: auto;
			height: 44px;
		}

		.top-pagination-content ul.pagination li > a, .top-pagination-content ul.pagination li > span {
		    line-height: 14px;
		}

		/*Busqueda*/

		.header-container .main_panel.cf {
			margin: 0;
			min-height: 66px;
		}

		.search-container form .search_query {
		    color: #fff;
		    background: #d92b2b;
		    padding: 2.5%;
		    width: 100% !important;
		    font-size: 1.8rem;*/;
		    box-shadow: #883C3C 0px 3px 10px;
		    border: #fff solid 2px;
		    font-family: 'Open Sans', sans-serif;
		}

}
