@media print {
    body, #contenido, #principal, #pie {
      float: none !important;
      width: auto !important;
      margin:  0 !important;
      padding: 0 !important;
    }

    body { color: #000; font: 100%/150% Georgia, "Times New Roman", Times, serif; }

    a:after, .menu-right, .left-down-menu #block_top_menu, .menu-left, imput, .newsPagination, .left-fotter.cont-footer, .fixedHeader .logo-sticky {
        display: none;
    }
    
    .title-destacado {
        display: none;
    }
    
    .left-up-menu {
        margin: 0;
        padding: 0;
    }
    
    div#header_logo {
        width: 20% !important;
        margin: 0 auto;
    }
    
    .logo-desktop img {
        width: 400px !important;
        margin-bottom: 1.5rem;
    }
    
    .fixedHeader .logo-desktop {
        display: block;
    }
    
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }
    
    .menu-footer .grid_4 {
        width: auto;
        display: inline-block !important;
    }
    
    .menu-footer li a, .menu-footer li {
        display: inline-block;
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 0.8rem;
    }
    
    .menu-footer li a {
        border-left:#000 solid 1px;
        padding: 0 5px;
    }
    
    .img-article img, img {
        width: 40% !important;
        float: left;
        margin: 0 20px 0 0;
    }
    
    .header-container {
        min-height: inherit;
    }
    
    .footer-up {
        padding: .0625rem 0;
    }
    
    .footer-up .container {
        padding: 0;
    }
    
   #footer {
        margin: 20px 0 0 0;
        border-top: #000 solid 4px;
    }
    
    .ax-avatar-content, .ax-print, h2, h3, .jplist-panel, .share.cf, .logo-copyright {
        display: none !important;
    }
    
    .module-giftlist-descripcion .jplist-panel {
        display: none;
        margin: 0;
    }
    
    .col-md-3 {
        width: 31.3%;
        float: left;
    }
    
    #ax-products .col-md-3 {
        width: 23.3%;
        float: left;
        height: 350px;
    }
    
    .col-md-3 .ax-cont-hover .img-container img {
        width: 255px !important;
        float: none;
    }
    
    .ax-text-description-lista {
        margin: 0;
    }
    
    h1 {
        border: none;
    } 
    
    .ax-text-result-list.ax-result-inline {
        display: none;
    }
    
    .products-associated .product-card:first-child span {
        margin:0;
    }
    
    .products-associated .total_qty input {
        border: 0;
    }
    
    .parrilla-productos {
        margin: 0;
    }
    
    .products-associated .product-card.ax-bond-card {
        text-align: center;
    }
    
    .products-associated .product-card.ax-bond-card span {
        margin-top: 20px;
    }
    
    .products-associated .product-card img {
        width: 100% !important;
        margin: 0 auto;
        display: block;
        float: none;
    }
    
    .footer-down {
        padding: 0;
    }

    .ax-cont-admin-listas-regalos .ax-cont-list .part {
        padding: 0px 0 15px 0;
    }
    
    .menu-copyright {
        padding: 0 0 1.2rem 0;
        text-align: center;
        WIDTH: 100%;
    }
    
    .module-giftlist-descripcion .product-card {
        min-height: 270px;
    }
    
    .products-associated .product-card p.ax-name-list {
        height: 45px;
    }
    
    .products-associated .product-card .img-container {
        height: 180px !important;
    }
    
    .nav-breadcrum {
        padding: 0.225rem;
    }
    
    .breadcrumb, #order_step, .ax-printPago, #submitReorder, .cart_navigation.exclusive {
        display: none;
    }
    
    .product-card .ax-info-list p:last-child, #productDiv .cant_prod {
        margin: 0;
    }
    
    .center_column table tr td {
        font-size: 1.1rem;
    }
    
    .center_column table td, table th {
        padding: 5px 8px;
    }
    
    .center_column br {
        display: none;
    }
    
    .center_column p {
        margin: 2px 0;
    }
    
}