/*** ESSENTIAL STYLES ***/
	.sf-menu{
	position: static;
	}
	.sf-menu li:hover {
	visibility: inherit;
	}
	ul.sf-menu li li:hover li ul,
	ul.sf-menu li li.sfHover li ul {
	top: -999em;
	}
	ul.sf-menu li li li.sfHover ul {
	left: 0;
	top:2.5rem;
	}
	.wrap_banner_item{
	position: relative;
	}
	.banner_thumb.autofocus .wrap_scale.wrap_image_thumb{
	position: static;
	}
	.banner_thumb.autofocus:before, .banner_thumb.autofocus:after, .banner_thumb.autofocus .wrap_scale:before, .banner_thumb.autofocus .wrap_scale:after{
	border-width: 1px;
	}
	.banner_thumb.autofocus:hover:before, .banner_thumb.autofocus:hover:after, .banner_thumb.autofocus:hover .wrap_scale:before, .banner_thumb.autofocus:hover .wrap_scale:after{
	border-color: #fff;
	width: 1.25rem;
	height: 1.25rem;
	}
	.sf-menu > li > ul > li.category-thumbnail > div img,
	.sf-menu > li > ul > li#category-thumbnail > div img {
	width: 100%;
	display: block;
	}
	.banner_thumb  {
	display: inline-block;
	position: relative;
	overflow: hidden;
	}
	.cat-title {
	display: none;
	}

/*Megamenu*/
	.sf-contener {
	padding: 0;
	}
	.menu-content > li > ul {
    padding: 0 4.375rem;
	}
	.menu-content > li > a:before{
	content:'\2630';
	font-size:1.25rem;
	color: #000;
	padding-right: 0.625rem;
	}
	.menu-content > li.parent-menu-active > a{
	color:#d7162f;
	}
	.menu-content > li.parent-menu-active > a:before {
    color: #d7162f;
    content: '\2715';
	font-size:
	}
	.menu-content > li > a {
    padding: 1.25rem 0 1.25rem 0;
    margin-left: 1.875rem;
    display: block;
    position: relative;
	}
	.submenu-container {
	background: #fff;
	border-top: #CCC solid 1px;
	border-bottom: #CCC solid 1px;
	padding: 0;
	}
	.submenu-container li {
    display: inline-block;
	vertical-align: top;
	}
	.submenu-container > li > a {
    padding: 1.25rem 3.4375rem;
    display: block;
    font-size: 1.125rem;
    color: #414040;
	}
	.submenu-container > li.sfHover > a{
	color: #d7162f;
	}

/*edit*/
	.submenu-container > li > ul  {
    background: rgba(247,247,247,0.8);
	position: absolute;
	width: 100%;
	left: 0;
	border-bottom: 5px solid #d7162f;
	border-top: 1px solid #ccc;
	padding: 0 7.5rem;
	}

	.submenu-container > li > ul > li {
    display: block;
    padding: 0;
	width: 17.6875rem;
    background:#f2f2f2;
	}
    
    .submenu-container > li > ul > li:first-child {
    padding-top: 20px;
    }    

    .submenu-container > li > ul > li {

    }    

	.submenu-container li > ul > li a {
	font-size: 1.25rem;
    color: #231f20;
    display: block;
    text-align: left;
    padding: 0.625rem 2.3rem;
	}

    .submenu-container li > ul > li a:hover {
        background:#fff;
    }

	.submenu-container li > ul > li .SubCategory {
    padding: 1.8rem 3.625rem;
    position: absolute;
    margin-top: 0;
    top: 0 !important;
    left: 23rem !important;
    background: #fff;
    z-index: 2;
    width:auto;
    height: 100%;
    display: none;
	}
    
.submenu-container .SubCategory .col {
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
}

.submenu-container .SubCategory .view-menu {
    display: none;
}

    .submenu-container li > ul > li:hover .SubCategory {
    display:block;
    }

	.submenu-container li > ul > li .SubCategory a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
    color: #757575;
    display: block;
    padding: 0;
    margin: 0;
	text-align: left;
	line-height: 1.8;
	text-transform: none;
    font-weight: lighter;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
	}

    .submenu-container li > ul > li .SubCategory a:hover {
    color:#d7162f;
    }
	.category-thumbnail {
    width: auto;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 5.4%;
	}
	.category-thumbnail:after {clear: both;}
	.category-thumbnail:before, .category-thumbnail:after {content: ""; display: table;}

	.submenu-container li.category-thumbnail {
    display: block;
	}
	.submenu-container .view-menu a {
    color: #D7162F;
    text-transform: none;
    font-family: 'gothic';
    text-align: right;
	}
	.submenu-container .view-menu a:hover{
	color: #000;
	}
/*18-002-2016 actual */ 
    .submenu-container li > ul .view-menu a {
        display:inline-block;
        padding: 5px;
    }

  /*  .submenu-container li.col-1 {
        background:red;
    }

    .submenu-container li.col-2 {
        background:yellow;
    }
    
07-12-2015*/

 @media (min-width: 768px) and (max-width: 1199px) {
	.fixedHeader #block_top_menu {
	padding-top: 1rem;
	}
 }
 @media (min-width: 768px) and (max-width: 992px) {
 	.sf-menu > li:first-child > a{
	padding-left: 0;
 	}
 	#block_top_menu{
 	padding-top: 0.8125rem;
 	}
 }

}
@media (max-width: 767px) {
	.sf-menu ul {
	position: relative;
	}
}
  @media (max-width: 767px) {
	.menu-mobile-grover {
	position: absolute;
	left: 3.75rem;
	top: 0.4375rem;
	}
	.sf-menu > li span {
	position: absolute;
	left: 1.25rem;
	top: 1.5625rem;
	z-index: 2;
	}
	.sf-menu > li span:after {
	font-family: "fontello";
	content: '\e803';
	font-size: 22px;
	}
	.sf-menu > li span.active:after {
	content: '\e804';
	}
	.menu-mobile-grover{
	cursor: pointer;
	}
	.menu-mobile-grover{
	cursor: pointer;
	}
}

@media (max-width: 767px) {
	.menu-content > li > a{
	background: none;
	}
	.sf-menu > li > ul > li {
	width: 50%;
	}
}
@media (max-width: 480px) {
	.sf-menu > li > ul > li {
	width: 100%;
	text-align: left;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.sf-menu > li > ul > li.first-in-line-xs {
	clear: left;
	}
}
@media (max-width: 479px) {
	.sf-menu > li > ul > li#category-thumbnail > div {
	width: 100%;
	padding-left: 0;
	padding-top: 10px;
	text-align: center;
	}
}
@media (max-width: 767px) {
	.cat-title {
	display: block;
	text-transform: uppercase;
	display: block;
	padding: 0px 15px;
	background: #333;
	color: #fff;
	position: relative;
	font-size: 18px;
	line-height: 40px;
	cursor: pointer;
	margin-bottom: 20px;
	}
	.cat-title:after {
	display: block;
	font-family: "fontello";
	content: '\e803';
	height: 22px;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	font-size: 25px;
	line-height: 1;
	}
	.cat-title.active:after {
	content: '\e804';
	}
	#block_top_menu ul li.category-thumbnail,
	#block_top_menu ul li#category-thumbnail{
	width: 100%;
	}
}
