/*** ESSENTIAL STYLES ***/
	.sf-menu{
	position: static;
	}
	/*.sf-menu,
	.sf-menu * {
	margin: 0;
	list-style: none;
	}*/
	.sf-menu li:hover {
	visibility: inherit;
	}
	ul.sf-menu li li:hover li ul,
	ul.sf-menu li li.sfHover li ul {
	top: -999em;
	}
	ul.sf-menu li li li.sfHover ul {
	left: 0;
	top:40px;
	}

	#block_top_menu ul li.category-thumbnail,
	#block_top_menu ul li#category-thumbnail {
	/*width: 50%;
	float: right;
	overflow: hidden;
	padding: 0;*/
	}
	ul  li.category-thumbnail > div,
	ul  li#category-thumbnail > div {
	/*overflow: hidden;
	padding: 0;*/
	}
	ul li.category-thumbnail > div:last-child,
	ul li#category-thumbnail > div:last-child{
	/*margin-right: 0;*/
	}
	.wrap_banner_item{
	position: relative;
	}
	.banner_thumb.autofocus .wrap_scale.wrap_image_thumb{
	position: static;
	}
	.banner_thumb.autofocus:before, .banner_thumb.autofocus:after, .banner_thumb.autofocus .wrap_scale:before, .banner_thumb.autofocus .wrap_scale:after{
	border-width: 1px;
	}
	.banner_thumb.autofocus:hover:before, .banner_thumb.autofocus:hover:after, .banner_thumb.autofocus:hover .wrap_scale:before, .banner_thumb.autofocus:hover .wrap_scale:after{
	border-color: #fff;
	width: 20px;
	height: 20px;
	}
	.sf-menu > li > ul > li.category-thumbnail > div img,
	.sf-menu > li > ul > li#category-thumbnail > div img {
	width: 100%;
	display: block;
	}
	.banner_thumb  {
	display: inline-block;
	position: relative;
	overflow: hidden;
	}
	.cat-title {
	display: none;
	}

/*Megamenu*/

	.submenu-container {
	background: #fafafa;
	padding: 0;
	}
	.submenu-container li {
    display: table-cell;
	}
	.submenu-container > li > a {
    padding: 1.25rem 3.4375rem;
    display: block;
    font-size: 1.125rem;
    color: #414040;
	}







	.menu-content > li > a {
	background: url("../../../../img/icon-nav.png") 0 center no-repeat;
    color: #484848;
	padding: 1.5625rem 0px 1.25rem 1.875rem;
	margin-left: 1.875rem;
	display: block;
	position: relative;
	}


	.submenu-container li > ul {
    position: absolute;
    min-width: 1663px;
	margin-top: 0.125rem;
    left: 0;
	background: #fff;
	z-index: 10;
	}

	.submenu-container li ul li {}

	.submenu-container li > ul > li > ul {
    background: #fafafa;
	top: 3.625rem;
	padding: 0.625rem 3.4375rem;
	}

	.submenu-container li ul li a {
	font-size: 1.25rem;
    color: #231f20;
    display: block;
    text-align: center;
    padding: 1.5625rem 2.5rem 0.9375rem 3.4375rem;
	}

	.submenu-container li ul li ul li {
    display: block;
	margin-bottom: 0.3125rem;
	}
	.submenu-container li ul li ul li a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.125rem;
    color: #777676;
    display: block;
    padding: 0;
	text-align: left;
	background: url("/themes/matisses/img/vineta-menu.png") no-repeat 0 center transparent;
	padding-left: 0.625rem;
	}

	.submenu-container li.category-thumbnail {
    background: #FFC0CB;
    display: block;
	}

/*07-12-2015*/

 @media (min-width: 768px) and (max-width: 1199px) {
	.fixedHeader #block_top_menu {
	padding-top: 16px;
	}
 }
 @media (min-width: 768px) and (max-width: 992px) {
 	.sf-menu > li:first-child > a{
	padding-left: 0;
 	}
 	#block_top_menu{
 	padding-top: 13px;
 	}
 }

}
@media (max-width: 767px) {
	.sf-menu ul {
	position: relative;
	}
}
  @media (max-width: 767px) {
	.menu-mobile-grover {
	position: absolute;
	left: 60px;
	top: 7px;
	}
	.sf-menu > li span {
	position: absolute;
	left: 20px;
	top: 25px;
	z-index: 2;
	}
	.sf-menu > li span:after {
	font-family: "fontello";
	content: '\e803';
	font-size: 22px;
	}
	.sf-menu > li span.active:after {
	content: '\e804';
	}
	.menu-mobile-grover{
	cursor: pointer;
	}
	.menu-mobile-grover{
	cursor: pointer;
	}
}

@media (max-width: 767px) {
	.menu-content > li > a{
	background: none;
	}
	.sf-menu > li > ul > li {
	width: 50%;
	}
}
@media (max-width: 480px) {
	.sf-menu > li > ul > li {
	width: 100%;
	text-align: left;
	}
}
@media (min-width: 768px) {
	.sf-contener {
	padding: 0;
	}
	.sf-menu > li > ul > li.first-in-line-lg {
	clear: left;
	}
	#block_top_menu ul li.category-thumbnail, #block_top_menu ul li#category-thumbnail{	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.sf-menu > li > ul > li.first-in-line-xs {
	clear: left;
	}
}
@media (max-width: 479px) {
	.sf-menu > li > ul > li#category-thumbnail > div {
	width: 100%;
	padding-left: 0;
	padding-top: 10px;
	text-align: center;
	}
}
@media (max-width: 767px) {
	.cat-title {
	display: block;
	text-transform: uppercase;
	display: block;
	padding: 0px 15px;
	background: #333;
	color: #fff;
	position: relative;
	font-size: 18px;
	line-height: 40px;
	cursor: pointer;
	margin-bottom: 20px;
	}
	.cat-title:after {
	display: block;
	font-family: "fontello";
	content: '\e803';
	height: 22px;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	font-size: 25px;
	line-height: 1;
	}
	.cat-title.active:after {
	content: '\e804';
	}
	#block_top_menu ul li.category-thumbnail,
	#block_top_menu ul li#category-thumbnail{
	width: 100%;
	}
}

@media screen and (max-width: 1024px){
	.menu-content a.sf-with-ul {
    margin-left: 0.9375rem;
	}
	.fixedHeader .menu-content a.sf-with-ul {
	padding-top: 0;
	margin-left: 0;
	padding-bottom: 0;
	}
}
