    .details{
    display:none;
    }
    #closedetail {
    display:none;
    }
    .captions li{
    float: left;
    max-width:100px;
    }
    .active{
    display:block;
    }

/*Estilos pagina*/
    /*Pag ppal garantias*/
    .module-matisses-garantias .center_column{
    width: 75rem;
    padding: 0 0.9375rem;
    margin: 0 auto;
    float: none;
    }

    /*Tabla garantias*/
    .module-matisses-garantias table {
    margin-top: 2.5rem;
    border: none;
    }
    .module-matisses-garantias table thead th {
    background: #fff;
    border: none;
    text-transform: uppercase;
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    }
    .module-matisses-garantias table tbody{
    border: 1px solid #dbdbdb;
    }
    .module-matisses-garantias table tbody > tr:first-child {
    background: #f8f8f8;
    }
    .module-matisses-garantias table tr td {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9375rem;
    color: #777676;
    border: none;
    }
    .module-matisses-garantias table .options a{
    color: #d7162f;
    text-decoration: underline;
    }
    .module-matisses-garantias table .options a:hover{
    color: #000;
    }
    .module-matisses-garantias table .history_link a {
    color: #D7162F;
    }
    .module-matisses-garantias table .history_link a:hover {
    color: #000;
    }

    .module-matisses-garantias table .history_detail a {
    font-weight: normal;
    color: #D7162F;
    }
    .module-matisses-garantias .history_state span {
    background: none !important;
    color: #D7162F;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    }
    .module-matisses-garantias .history_state span.label.dark {
    color: #1A8A1A;
    }

    .module-matisses-garantias .footer_links {
    text-align: center;
    margin: 2.5rem 0;
    }
    .module-matisses-garantias .fa-chevron-left {
    padding-right: 0.625rem;
    }

    .module-matisses-garantias table .details {
    background: #fdfdfd;
    padding: 1.25rem;
    }
    .module-matisses-garantias table .details h3 {
    color: #d7162f;
    font-family: 'condensed';
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    }
    .module-matisses-garantias table .details h3 span{
    color: #656565;
    }
    .module-matisses-garantias table .details .bx-wrapper {
    border: 1px solid #ccc;
    }
    .module-matisses-garantias table .details .bx-wrapper img{
    width: 80%;
    margin: 0 auto;
    }
    .module-matisses-garantias table .details .bx-wrapper li{
    width:28.875rem !important;
    }
    .module-matisses-garantias table .captions li {
    border: 1px solid #ccc;
    border-top: 0;
    }
    .module-matisses-garantias table .attributes {
    padding: 3.125rem 10px 0 30px;
    }
    .module-matisses-garantias table .attributes li strong{
    color: #231f20;
    font-family: 'condensed';
    text-transform: uppercase;
    font-size: 1rem;
    }
    .module-matisses-garantias table .attributes li{
    padding-bottom: 0.9375rem;
    }
    .module-matisses-garantias .tbl-history {
    width: 100%;
    margin-top: 10px;
    }
    .module-matisses-garantias .tbl-history tbody{
    border: none;
    }
    .module-matisses-garantias .tbl-history tbody tr,
    .module-matisses-garantias .tbl-history tbody tr:first-child{
    background: none;
    }
    .module-matisses-garantias .tbl-history tbody tr td{
    padding: 0;
    }
    .module-matisses-garantias .tbl-history tbody tr td span{
    color: #d7162f;
    }

    .module-matisses-garantias .bx-controls-direction a.bx-next {
    background-position: -30px -68px;
    }
    .module-matisses-garantias .bx-controls-direction a.bx-next:hover{
	background-position: -30px -104px;
	}
    .module-matisses-garantias .bx-controls-direction a.bx-prev {
    background-position: 0 -68px;
    }
    .module-matisses-garantias .bx-controls-direction a.bx-prev:hover{
	background-position: 0 -104px;
	}
    .module-matisses-garantias .bx-controls-direction div a {
    height: 2.1875rem;
    width: 1.5625rem;
    }

    .submitReorder > p{
    margin-top: 1.25rem;
    font-size: 1.25rem;
    font-family: 'gothic';
    color: #d7162f;
    border-bottom: 1px solid;
    }

    .order-warranty .fa-file-pdf-o {
    padding-right: 0.625rem;
    }
    .order-warranty li{
    font-family: 'Open Sans', sans-serif;
    color: #777676;
    padding-bottom: 0.625rem;
    }
    .order-warranty ul{
    margin: 1.25rem 0;
    }
    .order-warranty li strong{
    font-weight: bold;
    }
    .order-warranty li:before {
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 0.625rem;
    color: #d7162f;
    }
    /****/





    /*Step1*/
    .content-warranty {
    padding-top: 1.875rem;
    }
    .right-w{
    padding-top: 2.5rem;
    }
    .right-w p {
    padding-bottom: 1.25rem;
    }
    .right-w p > strong {
    font-weight: bold;
    }
    .right-w p a {
    color: #d7162f;
    font-size: 0.875rem;
    font-weight: bold;
    }
    .right-w a:hover{
    color: #000;
    }
    .right-w form .checker {
    display: inline-block;
    margin-top: 0.3125rem;
    margin-right: 0.625rem;
    }
    .right-w .checker .checked:before {
    color: #F00;
    position: absolute;
    top: 0;
    left: 1px;
    text-align: center;
    }
    .right-w span.checked {
    border: 3px solid #7b7b7b;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    }
    .right-w form {
    border-top: 1px solid #dbdbdb;
    padding-top: 1.875rem;
    margin-top: 1.25rem;
    }
    .right-w form p {
    display: inline-block;
    vertical-align: top;
    font-family: 'gothic';
    font-size: 1.125rem;
    text-decoration: underline;
    color: #4b4b4b;
    }
    .right-w .view-more {
    text-align: right;
    color: #D7162F;
    text-decoration: underline;
    font-family: 'gothic';
    font-size: 1.125rem;
    }
    .right-w button {
    float: right;
    }
    .content-warranty .footer_links {
    margin: 4.375rem auto;
    text-align: center;
    }

    /*Step2*/
