#homepage-slider {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    }

 #homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0;
    }

    #homepage-slider .homeslider-container {
    position: relative;
    }

    #homepage-slider .homeslider-image {
    position: absolute;
    left: 0;
    top: 0; }

    #homepage-slider .homeslider-description {
    position: absolute;
    left: 70px;
    top: 210px;
    width: 1170px;
    text-align: center;
    }

    #homepage-slider .bx-wrapper {
    padding: 0;
    *zoom: 1; }

    #homepage-slider .bx-wrapper a {
    display: block; }

    #homepage-slider .bx-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    }

    #homepage-slider .bx-wrapper .bx-viewport {
    width: 100%; }

    #homepage-slider .bx-wrapper .bx-pager,

    #homepage-slider .bx-wrapper .bx-controls-auto {
    width: 100%; }

    #homepage-slider .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000; }

    #homepage-slider .bx-wrapper .bx-pager {
    font-size: .85em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #666;
    }

    #homepage-slider .bx-wrapper .bx-pager .bx-pager-item,

    #homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline; }

    #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #eee;
    text-indent: -9999px;
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }

    #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,

    #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #d7162f; }

    #homepage-slider .bx-wrapper .bx-prev {
    right: 60px; }

    #homepage-slider .bx-wrapper .bx-prev:after {
    content: "\f053"; }

    #homepage-slider .bx-wrapper .bx-next {
    right: 10px; }

    #homepage-slider .bx-wrapper .bx-next:after {
    content: "\f054"; }

    #homepage-slider .bx-wrapper .bx-controls-direction a {
    position: absolute;
    bottom: 10px;
    outline: 0;
    width: 52px;
    height: 52px;
    text-indent: -9999px;
    z-index: 9999;
    border: 2px solid white; }

    #homepage-slider .bx-wrapper .bx-controls-direction a:before {
    height: 48px;
    width: 48px;
    display: block;
    background: white;
    content: ".";
    opacity: 0.14;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    }

    #homepage-slider .bx-wrapper .bx-controls-direction a:after {
    display: block;
    width: 48px;
    height: 48px;
    color: white;
    text-indent: 0;
    text-align: center;
    font-size: 21px;
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 16px 0 0 0;
    }

    #homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
    background: #333333;
    opacity: 0.83;
    }

    #homepage-slider .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
    }

    #homepage-slider .bx-wrapper .bx-controls-auto {
    text-align: center;
    }

    #homepage-slider .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
    }

    #homepage-slider .bx-wrapper .bx-controls-auto .bx-start:hover,

    #homepage-slider .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
    }

    #homepage-slider .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
    }

    #homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:hover,

    #homepage-slider .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
    }

    #homepage-slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
    }

    #homepage-slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
    }

    #homepage-slider .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
    }

    #homepage-slider .bx-wrapper .bx-caption span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: .85em;
    padding: 0.625rem;
    }

    .ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
    background: #333333;
    }

    #homepage-slider .homeslider-description {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 21.25rem 0.625rem;
    left: 0;
    background: url("/themes/matisses/img/icon-scroll.png") center 770px no-repeat;
    }

    #homepage-slider .homeslider-description h2 {
    color: #fefefe;
    text-transform: uppercase;
    }

    #homepage-slider .homeslider-description h3{
    text-transform: uppercase;
    }

    .homeslider-description p {
    width: 50%;
    font-size: 1.15em;
    line-height: 1.3em;
    padding: 0.5em 0;
    color: white;
    }

    #homepage-slider .homeslider-description button {
    font-size: 1.2em;
    text-transform: uppercase;
    }

/*Slide-1*/
.slide-1 h2{
    font-family: 'gothic';
    font-size:5rem;
}

.slide-1 h3{
    font-family: 'condensed';
    color: #d7162f;
    font-size: 3.75rem;
}

/*Slide-2*/
    .slide-2 h2{
    font-family: 'extended';
    font-size: 6.25rem;
    }

    .slide-2 h3{
    font-family: 'gothic';
    font-size:3.75rem;
    color: #fff;
    }

    .btn-slider{
    margin-top: 1.25rem;
    }

    .btn-slider .more{
    color: #fff;
    border-color: #fff;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    }

    .btn-slider .more:hover{
    border-color: #fff;
    color: #fff;
    }

    .btn-slider .more:hover:before,
    .btn-slider .more:hover:after{
    background-color: #fff;
    }

    .btn-slider .buy{
    color: #fff;
    border-color: #d7162f;
    }

    .btn-slider .buy:hover{
    color: #fff;
    }

    .btn-slider .buy:before{
    background-color:#d7162f;
    }

    .btn-slider .buy:after{
    background-color:#d7162f;
    }

/*Slide-3*/
    .slide-3 h2{
    font-size: 6.25rem;
    font-family: 'gothic';
    }

    .slide-3 h3{
    font-weight: 300;
    font-family: 'Open Sans';
    font-size: 3.125rem;
    color: #fff;
    }

    .slide-3 .circle {
    background: url("../../../img/icon-flecha.png") center center no-repeat;
    display: inline-block;
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 50%;
    border: 7px solid #d7162f;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 0 0.9375rem;
    }

    .slide-3 .circle a {
    text-indent: 99em;
    }

    .slide-3 .circle:hover {
    box-shadow:inset 0 0 0 16px rgba(215, 22, 47, 0.26), 0 1px 2px rgba(0,0,0,0.1);
    }

    .homeslider-description .slide-3 p {
    font-family: extended;
    color: #d7162f;
    font-size: 4.375rem;
    padding: 0;
    line-height: normal;
    width: auto;
    margin-left: 30rem;
    margin-top: -3.75rem;
    }

    .slide-3 h2 {
    display: inline-block;
    vertical-align: top;
    padding-top: 1.875rem;
    }

/*01-12-2015*/
    .bx-controls.bx-has-pager {
    position: absolute;
    bottom: 30px;
    left: 30px;
    }

    #homepage-slider .bx-pager.bx-default-pager {
    position: static;
    padding-top: 0;
    }

@media (max-width: 767px) {
    #homepage-slider {
    width: 100%;
    max-width: 100%;
    padding-top: 20px;
    }
}

@media (max-width: 480px) {
    #homepage-slider .homeslider-description {
    padding: 30px;
    font-size: 0.5em;
    }

    #homepage-slider .homeslider-description p {
    font-size: 1.7em;
    }
}

@media screen and (max-width :1024px){

    #homepage-slider .homeslider-description {
    padding-top: 12.5rem;
    }
}
