#newsletter_block_left h4 {
	font-weight: bold;
	 font-family: 'MuseoSansCyrl700','Open Sans';
	font-size: 16px;
	line-height: 1.4;
	padding-bottom: 33px;
}


#newsletter_block_left .sub_btn{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: auto 0;
	height: 47px;
	line-height: 47px;
	padding:0 25px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;

}
#newsletter_block_left .form-group{
	margin: 0;
	position: relative;
}
.form-error #newsletter-input{
	background-image:none;
}
